<div class="white r box-shadow-z0 p-md">
    <div class="footer p-a-md ng-scope container">
        <div class="" style="margin-bottom: -30px">
            <div class="row">
                <!--<div class="col-sm-6 ">
                    <div class="" id="countdown_wp">
                        <br><br>
                        <div class="container_count ">
                            <div id="days" class="sideborder">00</div>Days</div>
                        <div class="container_count ">
                            <div id="hours" class="sideborder">00</div>Hours</div>
                        <div class="container_count ">
                            <div id="minutes">00</div>Minutes</div>
                        <div class="" style=" position: relative;font-size:16px; padding-left:50px;">
                            <strong class="ng-binding">To your first sumptious meal</strong></div>
                    </div>
                </div>-->
                <div class="col-sm-6 offset-sm-3" style="text-align: center">
                    <div class="nav m-y ">
                        <!--<a class="nav-link m-r" href=""><span>How it works</span></a>
                        <a class="nav-link m-r" href=""><span>Delivery locations</span></a>-->
                        We deliver to <br /> Yaba, Surulere, Ikeja, Victoria Island, Lekki and Ikoyi
                    </div>
                    <div>
                        <a href="https://instagram.com/mealimeterhq" class="btn btn-icon btn-social rounded btn-sm"><i class="fa fa-instagram"></i> <i class="fa fa-instagram red"></i></a>
                        <a href="https://facebook.com/mealimeter" class="btn btn-icon btn-social rounded btn-sm"><i class="fa fa-facebook"></i> <i class="fa fa-facebook indigo"></i></a>
                        <a href="https://twitter.com/mealimeter" class="btn btn-icon btn-social rounded btn-sm"><i class="fa fa-twitter"></i> <i class="fa fa-twitter light-blue"></i></a>
                    </div>
                    <br />
                </div>
            </div>

        </div>
        <div class="b b-b m-y-md"></div>
        <div class="row footer-bottom">
            <div class="col-sm-8 " style="padding-left:30px;"><small class="text-muted">Mealimeter &copy; Copyright 2016. All rights reserved.</small></div>
            <div class="col-sm-4">
                <div class="text-sm-right text-xs-left"><img alt="wallet" src="assets/images/paystack.png" height="25px" class=""></div>
            </div>
        </div>
    </div>
</div>