<div class="navbar">
    <!-- Open side - Naviation on mobile -->
    <a class="navbar-toggle navbar-item pull-left hidden-lg-up" data-toggle="collapse" data-target="#myNavbar">
        <i class="material-icons">&#xe5d2;</i>
    </a>
    <!-- / -->

    <!-- Page title - Bind to $state's title -->
    <div class="navbar-item pull-left h5" ng-bind="$state.current.data.title" id="pageTitle"></div>


    <!-- navbar collapse -->
    <div class="collapse navbar-toggleable-sm" id="myNavbar">

        <!-- navbar right -->
        <ul class="nav navbar-nav pull-right">
            <li class="nav-item dropdown ">
                <a class="nav-link nav-link2" style="border-right: 1px solid white; font-weight: normal; padding-right: 20px;">
						DAYS LEFT TO PREORDER 
                        <span style="margin: auto" id="days">00</span> Day
                        <span style="margin: auto" id="hours">00</span> Hrs
                        <span style="margin: auto" id="minutes">00</span> Mins
					</a>
            </li>
            <li class="nav-item dropdown " ng-if="username != 'guest'">
                <a class="nav-link nav-link2">
						Wallet : <span class="white-color">{{ balance | currency:"₦":0 }}</span>
					</a>
            </li>
            <li class="nav-item dropdown" ng-if="username != 'guest'">
                <a class="nav-link nav-link2" style="text-transform: capitalize;">
						{{username}}
					</a>
            </li>
            <li class="nav-item dropdown" ng-if="username == 'guest'">
                <a class="nav-link   nav-link2 nav-link3" style="text-transform: capitalize;" href="javascript:void(0);" ng-click="gotoLogin()">
						Login
					</a>
            </li>
            <li class="nav-item dropdown" ng-if="username == 'guest'">
                <a class="nav-link   nav-link2 nav-link3" style="text-transform: capitalize;" href="javascript:void(0);" ng-click="gotoSignUp()">
						Sign Up
					</a>
            </li>
            <li class="nav-item dropdown" ng-if="username != 'guest'">
                <a class="nav-link  nav-link2 nav-link3" href="javascript:void(0);" data-toggle="dropdown" ng-click="signout()">
						Sign Out
					</a>
            </li>
        </ul>
        <!-- / navbar right -->
        <!-- link and dropdown -->
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" ng-href="#/home">
                    <img src="assets/images/logo-m.png" alt="" width="150px" style=" margin-top: -5px;">
                </a>
            </li>
            <!--<li class="nav-item dropdown hidehome">
                <a class="nav-link" ng-href="#/home">
						Deals
					</a>
            </li>-->

            <!--<li class="nav-item dropdown hidehome" ng-if="username != 'guest'">
                <a class="nav-link" ng-href="#/pre-order/thursday">
						Pre-Order Meals
					</a>
            </li>-->

            <li class="nav-item dropdown hidehome" ng-if="username != 'guest'">
                <a class="nav-link" ng-href="#/top-up">
						Top-Up Account
					</a>
            </li>
            <!--<li class="nav-item dropdown" ng-if="username != 'guest'">
                <a class="nav-link" ng-href="#/account-details">
						Account Details
					</a>
            </li>-->

            <li class="nav-item hidehome" ng-if="username != 'guest'" data-target='#invitemodal' data-toggle="modal">
                <a class="nav-link">
						Refer & win
					</a>
            </li>

            <li class="nav-item hidehome" ng-if="username == 'guest'" data-target='#loginmodal' data-toggle="modal">
                <a class="nav-link">
						Refer & win
					</a>
            </li>
        </ul>
        <!-- / -->
        <!--<div ng-if="username != 'guest'" style="padding-top: 5px; text-align: center" class="nav navbar-nav col-sm-2 offset-sm-1">
            <span style="margin: auto" id="days">00</span> d
            <span style="margin: auto" id="hours">00</span> h
            <span style="margin: auto" id="minutes">00</span> m
            <div>left to preorder</div>
        </div>

        <div ng-if="username == 'guest'" style="padding-top: 5px; text-align: center" class="nav navbar-nav col-sm-2 offset-sm-3">
            <span style="margin: auto" id="days">00</span> d
            <span style="margin: auto" id="hours">00</span> h
            <span style="margin: auto" id="minutes">00</span> m
            <div>left to preorder</div>
        </div>-->

    </div>
    <!-- / navbar collapse -->
    <style>
        .msgerror {
            color: red;
        }
    </style>
    <div class="modal fade" id="loginmodal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <h3><a style="color: #8ac03e" href="#/login">Login</a> or <a style="color: #8ac03e" href="#/signup">Signup</a> to recieve your referal code to win. </h3>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="invitemodal" ng-controller="inviteCtrl">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Invite People</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>
                                Refrence code: <b>{{refcode}}</b>
                            </h3>
                            <p>
                                Share this link
                                <a target="_blank" href="http://mealimeter.com/dashboard1/#/signup?ref={{refcode}}">
                                    http://mealimeter.com/dashboard1/#/signup?ref={{refcode}}
                                </a>
                            </p>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-6">
                            <button class="btn btn-default" ng-click="addMore()">
                                <i class="fa fa-plus"></i>
                                Add more
                            </button>
                        </div>

                        <div class="col-sm-6" style="text-align: right">
                            <button class="btn btn-fw primary btn-dark-green" ng-click="sendToAll()" id="sendallBtn">
                                Send to all
                            </button>
                        </div>
                    </div>
                    <div class="row" style="text-align: center">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in list" id="row{{item}}">
                                    <td>
                                        <button class="btn btn-link" ng-click="remove(item)">
                                            <i class="fa fa-times" style="color: red"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" id="invite-name{{item}}" />
                                        <small class="msgerror itemerror{{item}}" id="errorName{{item}}"></small>
                                    </td>
                                    <td>
                                        <input type="email" class="form-control" id="invite-email{{item}}" />
                                        <small class="msgerror itemerror{{item}}" id="errorEmail{{item}}"></small>
                                    </td>
                                    <td>
                                        <input type="tel" class="form-control" id="invite-phone{{item}}" />
                                        <small class="msgerror itemerror{{item}}" id="errorPhone{{item}}"></small>
                                    </td>
                                    <td>
                                        <button class="btn btn-fw primary btn-dark-green" id="sendBtn{{item}}" ng-click="sendInvite(item)">Send</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <hr />

                    <div class="row" style="text-align: center">
                        <table class="table table-condensed">
                            <!--<thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th></th>
                                </tr>-->
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in done">
                                    <td>
                                        {{user.name}}
                                    </td>
                                    <td>
                                        {{user.email}}
                                    </td>
                                    <td>
                                        {{user.phone}}
                                    </td>
                                    <td style="color: green">
                                        <i class="fa fa-check"></i> Sent
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function fixIntegers(integer) {
        if (integer < 0)
            integer = 0;
        if (integer < 10)
            return "0" + integer;
        return "" + integer;
    }
    setInterval(function() {
        var target = new Date("December 7 2016 17:00 GMT+0100"); //replace with YOUR DATE

        var now = new Date();
        var next = new Date("December 12 2016 16:00 GMT+0100");

        if (now.getTime() > target.getTime()) {
            target = next;
        }

        var difference = Math.floor((target.getTime() - now.getTime()) / 1000);

        var seconds = fixIntegers(difference % 60);
        difference = Math.floor(difference / 60);

        var minutes = fixIntegers(difference % 60);
        difference = Math.floor(difference / 60);

        var hours = fixIntegers(difference % 24);
        difference = Math.floor(difference / 24);

        var days = difference;

        $(".container_count #seconds").html(seconds);
        $(".container_count #minutes").html(minutes);
        $(".container_count #hours").html(hours);
        $(".container_count #days").html(days);
        $(".navbar #days").html(days);
        $(".navbar #hours").html(hours);
        $(".navbar #minutes").html(minutes);

    }, 1000);
</script>