<!-- ############ LAYOUT START-->
<style type="text/css">
  .loginBody{
    overflow-x: hidden;
    background-color:#e7e7e7!important;
    /*background-image: url(./assets/images/pattern.jpg);*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    background-repeat: inherit;
    width: 100%;
    min-height: 100vh;
    height: 100%!important;
  }
</style>
<div class="loginBody">
  <div class="center-block w-xxl w-auto-xs p-y-md">
    <div class="navbar" >
      
    </div>
    <img src="assets/images/logo-m.png" class="img-responsive" alt="Mealimeter Logo">

    <div class="alert alert-success" role="alert" ng-show="show">
      <button class="close" data-dismiss="alert"></button>
      <strong>{{error}}</strong>
    </div>

    <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
      <div class="m-b text-sm">
        Sign in to your Mealimeter Account
      </div>
      <form name="form" ng-submit="logins(data)" method="POST">
        <div class="md-form-group float-label">
          <input type="email" class="md-input" ng-model="data.usernamefield" required>
          <label>Email</label>
        </div>
        <div class="md-form-group float-label">
          <input type="password" class="md-input" ng-model="data.passwordfield" required>
          <label>Password</label>
        </div>     
        <button type="submit" class="btn primary btn-block p-x-md">Sign in</button>
      </form>
    </div>

    <div class="p-v-lg text-center">
      <div class="m-b"><a " href="#/forgot-password" class="text-primary _600">Forgot password?</a></div>
      <div>Do not have an account? <a  href="#/signup" class="text-primary _600">Sign up</a></div>
    </div>
  </div>
</div>
<!-- ############ LAYOUT END-->

 
