<!-- ############ LAYOUT START-->
<div class="container">
  <div class="row">

    <div class="col-md-3">
      
    </div>



    <div class="col-md-6">
      <div class="center-block ">
    <img src="assets/images/logo-m.png" height="50px" alt="Mealimeter Logo" align="center">

    <div class="alert alert-success" role="alert" ng-show="show">
      <button class="close" data-dismiss="alert"></button>
      <strong>{{error}}</strong>
    </div>

    <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
      <div class="m-b text-sm">
        Sign up for your Mealimeter Account
      </div>
      <form name="form" ng-submit="register(data)" method="POST">
        <div class="md-form-group float-label">
          <input type="text" class="md-input" ng-model="data.firstnamefield" required>
          <label>First Name</label>
        </div>
        <div class="md-form-group float-label">
          <input type="text" class="md-input" ng-model="data.lastnamefield" required>
          <label>Last Name</label>
        </div>
        <div class="md-form-group float-label">
          <input type="email" class="md-input" ng-model="data.emailfield" required>
          <label>Email</label>
        </div>
        <div class="md-form-group float-label">
          <input type="number" class="md-input" ng-model="data.phoneNofield" required>
          <label>Phone Number</label>
        </div>
        <div class="md-form-group float-label">
          <div class="row row-sm">
            <div class="col-xs-6">
              <input type="number" class="md-input" ng-model="data.dayfield" placeholder="Day of Birth">
            </div>
            <div class="col-xs-6">
              <input type="number" class="md-input" ng-model="data.monthfield" placeholder="Month of Birth">
            </div>
        </div>
        </div>
        <div class="md-form-group float-label row">
          <!-- <div class="radio col-d-6">
          <label class="ui-check ui-check-lg col-md-3">
            <input type="radio" name="a" ng-model="data.genderfield" required>
            <i class="dark-white"></i>
            Male
          </label>
          <label class="ui-check ui-check-lg col-md-3">
            <input type="radio" name="a" ng-model="data.genderfield" required>
            <i class="dark-white"></i>
            Female
          </label>
        </div> -->
        <select ng-model="data.genderfield" id="inputNg-Model=" class="form-control" required="required">
          <option value="">Select gender</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
        </div>  
        
        <div class="md-form-group float-label">
          <input type="password" class="md-input" ng-model="data.passwordfield" >
          <label>Password</label>
        </div>  
        <div class="md-form-group float-label">
          <input type="password" class="md-input" ng-model="data.refcodefield" >
          <label>Referral Code</label>
        </div>  
        <div class="md-form-group float-label">
          <select name="" ng-model="data.companies" class="form-control" >
            <option value="">Select your Company </option>
            <h1>{{companies}}</h1>
            <option ng-repeat="company in companies" value="{{company.id}}">{{company.name}}</option>
          </select>
        </div> 
        <div class="m-b-md">        
          <label class="md-check">
            <input type="checkbox" ng-model="data.checked" aria-label="Toggle ngShow"><i class="primary"></i> Company not on the list?
          </label>
        </div> 
        <div class="md-form-group float-label" ng-show="data.checked">
          <input type="text" class="md-input" ng-model="data.officename" >
          <label>Company Name</label>
        </div>
        <div class="md-form-group float-label" ng-show="data.checked">
          <input type="text" class="md-input" ng-model="data.officeaddress" >
          <label>Company Address</label>
        </div>
        <div class="md-form-group float-label" ng-show="data.checked">
          <input type="text" class="md-input" ng-model="data.officelocation" >
          <label>Company Location</label>
        </div>
        <button type="submit" class="btn primary btn-block p-x-md">Sign up</button>
        <p style="color:red">{{error}}</p>
      </form>
    </div>

    <div class="p-v-lg text-center">
      <div class="m-b"><a ui-sref="access.forgot-password" href="#/forgot-password" class="text-primary _600">Forgot password?</a></div>
      <div>Already have an account? <a ui-sref="access.signup" href="#/login" class="text-primary _600">Login</a></div>
    </div>
  </div>
    </div>
  </div>
</div>
<!-- ############ LAYOUT END-->

