<!-- ############ LAYOUT START-->
<div class="container">
  <div class="row">
    <div class="col-md-3">
      
    </div>

    <div class="col-md-6">
      <div class="center-block ">
    <img src="assets/images/logo-m.png" height="50px" alt="Mealimeter Logo" align="center">
    <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
      <div class="m-b text-sm">
        Sign up for your Mealimeter Account
      </div>
      <form name="form" ng-submit="register(data)" method="POST">
        <div class="md-form-group float-label">
          <input type="text" class="md-input" ng-model="data.firstnamefield" required>
          <label>First Name</label>
        </div>
        <div class="md-form-group float-label">
          <input type="text" class="md-input" ng-model="data.lastnamefield" required>
          <label>Last Name</label>
        </div>
        <div class="md-form-group float-label">
          <input type="email" class="md-input" ng-model="data.emailfield" required>
          <label>Email</label>
        </div>
        <div class="md-form-group float-label">
          <input type="number" class="md-input" ng-model="data.phoneNofield" required>
          <label>Phone Number</label>
        </div>
        <div class="md-form-group float-label">
          <input type="password" class="md-input" ng-model="data.passwordfield" >
          <label>Password</label>
        </div>  
        <div class="md-form-group float-label">
          <select name="" ng-model="data.companies" class="form-control" >
            <option value="">Select your Company </option>
            <h1>{{companies}}</h1>
            <option ng-repeat="company in companies" value="{{company.id}}">{{company.name}}</option>
          </select>
        </div> 
        <div class="m-b-md">        
          <label class="md-check">
            <input type="checkbox" ng-model="data.checked" aria-label="Toggle ngShow"><i class="primary"></i> Company not on the list?
          </label>
        </div> 
        <div class="md-form-group float-label" ng-show="data.checked">
          <input type="text" class="md-input" ng-model="data.officename" >
          <label>Company Name</label>
        </div>
        <div class="md-form-group float-label" ng-show="data.checked">
          <input type="text" class="md-input" ng-model="data.officeaddress" >
          <label>Company Address</label>
        </div>
        <div class="md-form-group float-label" ng-show="data.checked">
          <input type="text" class="md-input" ng-model="data.officelocation" >
          <label>Company Location</label>
        </div>
        <button type="submit" class="btn primary btn-block p-x-md">Sign up</button>
        <button class="btn warning">{{error}}</button>
      </form>
    </div>

    <div class="p-v-lg text-center">
      <div class="m-b"><a ui-sref="access.forgot-password" href="forgot-password.html" class="text-primary _600">Forgot password?</a></div>
      <div>Already have an account? <a ui-sref="access.signup" href="login.html" class="text-primary _600">Login</a></div>
    </div>
  </div>
    </div>
  </div>
</div>
<!-- ############ LAYOUT END-->

