<div class="m-b">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Profile & Password</li>
      </ol>
</div>
<div class="padding">
  <div class="row">
    <div class="col-md-2">
      
    </div>
    <div class="col-md-4">
      <div class="box">
        <div class="box-header">
          <h2>Edit Profile</h2>
          <small>Synergistically communicate compelling information before parallel benefits. Continually myocardinate viral relationships via excellent testing procedures. Interactively.</small>
        </div>
        <div class="box-divider m-a-0"></div>
        <div class="box-body">
          <form role="form">
            <div class="form-group">
              <label for="first-name">First Name</label>
              <input type="text" class="form-control" id="" placeholder="First Name">
            </div>
            <div class="form-group">
              <label for="last-name">Last Name</label>
              <input type="text" class="form-control" id="" placeholder="Last Name">
            </div>
            <div class="form-group">
              <label for="company-name">Company Name</label>
              <input type="text" class="form-control" id="" placeholder="hotels.ng" readonly>
            </div>
            <button type="submit" class="btn white m-b">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <div class="box-header">
          <h2>Change Password</h2>
          <small>Synergistically communicate compelling information before parallel benefits. Continually myocardinate viral relationships via excellent testing procedures. Interactively.</small>
        </div>
        <div class="box-divider m-a-0"></div>
        <div class="box-body">
          <form role="form">
            <div class="form-group">
              <label for="old-password" class="form-control-label">Old Password</label>
              <input type="password" class="form-control" id="" placeholder="Old Password">
            </div>
            <div class="form-group">
              <label for="new-password" class="form-control-label">New Password</label>
              <input type="password" class="form-control" id="" placeholder="New Password">
            </div>
            <div class="form-group">
              <label for="retype-new-password" class="form-control-label">Re-type New Password</label>
              <input type="password" class="form-control" id="" placeholder="Re-type New Password">
            </div>
            <div class="form-group row m-t-md">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn white">Change Password</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
