<div class="app-header primary box-shadow">
    <div ng-controller="navbarCtrl">
        <div ng-include="'views/partials/navbar.html'" ng-show="show"></div>
    </div>
</div>
<div class="item">
    <div class="item-bg">
    </div>
    <div class="hero">
        <div class="row">
            <div class="col-sm-12" text-center>
                <span>
            <h1 style="font-size: 70px; text-align: center; color: white">Checkout</h1>
          </span>
            </div>
        </div>
    </div>
</div>
<div class="padding">
    <div class="container" style="text-align: center">

        <!-- <div class="col-md-2"></div> -->
        <div class="row">
            <div class="col-md-6" style="display:{{one}}" ng-repeat="weekday in weeks">
                <div class="box" style="position: relative; cursor: pointer;">
                    <div class="box-header dker2">
                        <h3><span class="big-font">{{ weekday.name }}</h3>
                    </div>
                    <div class="p-a-md text-center" ng-hide="weekday.total < 1">
                        <table class="table text-left" >
                            <thead class="">
                                <tr>
                                    <th width="10%">
                                        Qty
                                    </th>
                                    <th width="70%">
                                        Meal
                                    </th>
                                    <th width="20%">
                                        Price
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in weekday.cart">
                                    <td>
                                        {{item.quantity}}x
                                    </td>
                                    <td>
                                        <b>{{item.mainmeal}}</b>
                                        <br><span class="toppings">+ {{item.additive}}</span>
                            </td>
                            <td>
                                {{ item.price | currency:"₦":0 }}
                            </td>
                            </tr>
                            </tbody>
                            </table>
                            <table class="table">
                                <tbody class="total-section">
                                    <tr>
                                        <td class="total">Total</td>
                                        <td class="price"> {{ weekday.total | currency:"₦":0 }}</td>
                                    </tr>
                                    <tr ng-hide="companysubsidy < 1">
                                        <td class="total">Company subsidy</td>
                                        <td class="price">- {{ companysubsidy | currency:"₦":0 }}</td>
                                    </tr>
                                    <tr>
                                        <td class="total">Total Amount Due</td>
                                        <td class="amount-due  dark-green-color">{{ weekday.due | currency:"₦":0 }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a ng-click="redirect(weekday.name.toLowerCase())" class="btn btn-default btn-trans btn-full"><i class="fa fa-edit"></i> Change Order</a>

                    </div>
                    <div class="p-a-md text-center" ng-hide="weekday.total > 1">
                        <img src="assets/images/food-basket.png" alt="" width="75px">

                        <!-- <div class="top-dotted"></div> -->
                        <p>No meal has been selected</p>
                        <a ng-click="redirect(weekday.name.toLowerCase())" class="btn btn-default btn-trans btn-full">Choose from menu</a>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-bottom: 200px; padding-top: 20px;">
        <div class="col-md-4"></div>

        <div class="col-md-4">
            <a class="btn btn-large btn-block primary btn-white" data-toggle="modal" ng-if="username != 'guest'" data-target='#modal-id'>Pre-order all meals</a>
            <a class="btn btn-large btn-block primary btn-white" ng-if="username == 'guest'" ng-click="guestBuy()">Pre-order all meals</a>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-id" ng-controller="paymentCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Total: <span class="green-color">{{  total | currency:"₦":0 }}</span></h4>
            </div>
            <div class="modal-body">
                <div class="row">


                    <div class="col-md-5 offset-md-1">
                        <div class="pull-left">
                            <button id="payBtn" class="btn btn-default " type="button" ng-click="ngFn()"><i class="fa fa-credit-card"></i></button>
                            <div class="pull-left ">
                                <img alt="wallet" src="assets/images/paystack.png" height="25px" class="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <button class="btn btn-default margin-top pull-right" ng-click="docheckout()"><i class="fa fa-money"></i> Pay from Wallet</button>
                    </div>
                </div>
                <hr />
                <div class="row" ng-show="total >= 5000">
                    <div class="col-md-8">
                        <button type="button" class="btn btn-default margin-top" ng-click="togglePayComp()">
                            <i class="fa fa-building-o"></i> Pay by Company
                        </button>
                        <br />
                        <small>Pay with company cheque or online transfer</small>
                    </div>
                </div>

                <div class="row" ng-show="payComp">
                    <div class="col-md-8">
                        <br />
                        <input type="text" name="company_name" placeholder="Company Name" class="form-control" />
                        <br />
                        <input type="text" name="company_phone" placeholder="Company Contact Phone" class="form-control" />
                        <br />
                        <input type="email" name="company_email" placeholder="Company Contact Email" class="form-control" />
                        <br />
                        <input type="address" name="company_address" placeholder="Company Address" class="form-control" />
                        <br />
                        <button class="btn success" id="submitComp" ng-click="compSubmit()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'views/partials/footer.html'"></div>