<div class="app-header primary box-shadow">
    <div ng-controller="navbarCtrl">
        <div ng-include="'views/partials/navbar.html'" ng-show="show"></div>
    </div>
</div>
<div class="item">
    <div class="item-bg">
    </div>
    <div class="hero">
        <div class="row">
            <div class="col-sm-12" text-center>
                <span>
            <h1 style="font-size: 70px; text-align: center; color: white">Checkout</h1>
          </span>
            </div>
        </div>
    </div>
</div>
<div class="padding">
    <div class="row" style="text-align: center">

        <!-- <div class="col-md-2"></div> -->
        <div class="row">
            <div class="col-md-4" style="display:{{one}}">
                <div ng-click="redirect('monday')" class="box" style="position: relative; cursor: pointer;">
                    <div class="box-header dker2">
                        <h3>Monday - <button type="button" class="btn btn-default primary">Edit Order</button></h3>
                    </div>
                    <div class="p-a-md text-center">
                        <table class="table table-hover text-left">
                            <thead class="">
                                <tr>
                                    <th>
                                        Qty.
                                    </th>
                                    <th>
                                        Food Item
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in monday">
                                    <td>
                                        {{item.quantity}}x
                                    </td>
                                    <td>
                                        {{item.mainmeal}}
                                        <br> Topping(s):
                                        <br> {{item.additive}}
                                    </td>
                                    <td>
                                        {{item.price}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="total">Total</td>
                                    <td class="price">₦{{mondaytotal}}</td>
                                </tr>
                                <tr>
                                    <td class="total">Company subsidy</td>
                                    <td class="price">- ₦{{companysubsidy}}</td>
                                </tr>
                                <tr>
                                    <td class="total">Total Amount Due</td>
                                    <td class="amount-due">₦{{mondaydue}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-4" style="display:{{one}}">
                <div ng-click="redirect('tuesday')" class="box" style="position: relative; cursor: pointer;">
                    <div class="box-header dker2">
                        <h3>Tuesday - <button type="button" class="btn btn-default primary">Edit Order</button></h3>
                    </div>
                    <div class="p-a-md text-center">
                        <table class="table table-hover text-left">
                            <thead class="">
                                <tr>
                                    <th>
                                        Qty.
                                    </th>
                                    <th>
                                        Food Item
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in tuesday">
                                    <td>
                                        {{item.quantity}}x
                                    </td>
                                    <td>
                                        {{item.mainmeal}}
                                        <br> Topping(s):
                                        <br> {{item.additive}}
                                    </td>
                                    <td>
                                        {{item.price}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="total">Total</td>
                                    <td class="price">₦{{tuesdaytotal}}</td>
                                </tr>
                                <tr>
                                    <td class="total">Company subsidy</td>
                                    <td class="price">- ₦{{companysubsidy}}</td>
                                </tr>
                                <tr>
                                    <td class="total">Total Amount Due</td>
                                    <td class="amount-due">₦{{tuesdaydue}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <div class="col-md-4" style="display:{{one}}">
                <div ng-click="redirect('wednesday')" class="box" style="position: relative; cursor: pointer;">
                    <div class="box-header dker2">
                        <h3>Wednesday - <button type="button" class="btn btn-default primary">Edit Order</button></h3>
                    </div>
                    <div class="p-a-md text-center">
                        <table class="table table-hover text-left">
                            <thead class="">
                                <tr>
                                    <th>
                                        Qty.
                                    </th>
                                    <th>
                                        Food Item
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in wednesday">
                                    <td>
                                        {{item.quantity}}x
                                    </td>
                                    <td>
                                        {{item.mainmeal}}
                                        <br> Topping(s):
                                        <br> {{item.additive}}
                                    </td>
                                    <td>
                                        {{item.price}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="total">Total</td>
                                    <td class="price">₦{{wednesdaytotal}}</td>
                                </tr>
                                <tr>
                                    <td class="total">Company subsidy</td>
                                    <td class="price">- ₦{{companysubsidy}}</td>
                                </tr>
                                <tr>
                                    <td class="total">Total Amount Due</td>
                                    <td class="amount-due">₦{{wednesdaydue}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-4" style="display:{{one}}">
                <div ng-click="redirect('thursday')" class="box" style="position: relative; cursor: pointer;">
                    <div class="box-header dker2">
                        <h3>Thursday - <button type="button" class="btn btn-default primary">Edit Order</button></h3>
                    </div>
                    <div class="p-a-md text-center">
                        <table class="table table-hover text-left">
                            <thead class="">
                                <tr>
                                    <th>
                                        Qty.
                                    </th>
                                    <th>
                                        Food Item
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in thursday">
                                    <td>
                                        {{item.quantity}}x
                                    </td>
                                    <td>
                                        {{item.mainmeal}}
                                        <br> Topping(s):
                                        <br> {{item.additive}}
                                    </td>
                                    <td>
                                        {{item.price}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="total">Total</td>
                                    <td class="price">₦{{thursdaytotal}}</td>
                                </tr>
                                <tr>
                                    <td class="total">Company subsidy</td>
                                    <td class="price">- ₦{{companysubsidy}}</td>
                                </tr>
                                <tr>
                                    <td class="total">Total Amount Due</td>
                                    <td class="amount-due">₦{{thursdaydue}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <div class="col-md-4" style="display:{{one}}">
                <div ng-click="redirect('friday')" class="box" style="position: relative; cursor: pointer;">
                    <div class="box-header dker2">
                        <h3>Friday - <button type="button" class="btn btn-default primary">Edit Order</button></h3>
                    </div>
                    <div class="p-a-md text-center">
                        <table class="table table-hover text-left">
                            <thead class="">
                                <tr>
                                    <th>
                                        Qty.
                                    </th>
                                    <th>
                                        Food Item
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in friday">
                                    <td>
                                        {{item.quantity}}x
                                    </td>
                                    <td>
                                        {{item.mainmeal}}
                                        <br> Topping(s):
                                        <br> {{item.additive}}
                                    </td>
                                    <td>
                                        {{item.price}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="total">Total</td>
                                    <td class="price">₦{{total}}</td>
                                </tr>
                                <tr>
                                    <td class="total">Company subsidy</td>
                                    <td class="price">- ₦{{companysubsidy}}</td>
                                </tr>
                                <tr>
                                    <td class="total">Total Amount Due</td>
                                    <td class="amount-due">₦{{fridaydue}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-bottom: 200px; padding-top: 20px;">
        <div class="col-md-4"></div>

        <div class="col-md-4">
            <a class="btn btn-large btn-block primary" data-toggle="modal" ng-if="username != 'guest'" data-target='#modal-id'>Pre-order all meals</a>
            <a class="btn btn-large btn-block primary" ng-if="username == 'guest'" ng-click="guestBuy()">Pre-order all meals</a>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-id" ng-controller="paymentCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Total: N{{total}} - Checkout Via</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="text-align: center">
                    <div class="col-xs-6">
                        <form>
                            <!--<script src="https://js.paystack.co/v1/inline.js"></script>-->
                            <button id="payBtn" class="btn btn-default" type="button" ng-click="ngFn()"></button>
                        </form>
                    </div>
                    <div class="col-xs-6">
                        <button class="btn btn-primary" ng-click="docheckout()">Wallet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>