<div class="app-header primary box-shadow sticky">
    <div ng-controller="navbarCtrl">
        <div ng-include="'views/partials/navbar.html'" ng-show="show"></div>
    </div>
</div>

<div style="width: 100%; height: 150px;">
    <img src="assets/images/foodlist.jpg" style="width: 100%" />
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="box" style="margin-top: 20px; padding: 25px">
                <h2>{{foodlist.user.firstname}} wants you to select the food you want on thier birthday</h2>
                <!--<button class="btn btn-sm btn-danger btn-link" ng-click="cancelFoodEvent()">Canel birthday order</button>-->
            </div>
        </div>
    </div>
</div>

<div class="padding">
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div class="card card-8 no-radius">
                    <div class="col-md-10 offset-md-1 boxed bg--white">
                        <!--<div style="display:none;">{{x = $index}} </div>?-->
                        <div class="row">

                            <br>
                            <!-- Tab panes -->
                            <div class="tab-content donate-now">
                                <div role="tabpanel" class="tab-pane fade in active">

                                    <div ng-repeat="foods in foodlist.foods" class="menurow row" style="padding: 15px 10px; margin-left: 20px; border-bottom: 1px solid #dfdfdf">

                                        <div class="col-md-2" class="price">
                                            <div class="b" ng-click="selectFood(foods.food.id)">
                                                <input type="radio" id="a{{foods.food.id}}" ng-model="food_id" name="food_id" value="{{foods.food.id}}" />
                                                <label for="a{{foods.food.id}}"><i class="fa fa-check"></i> Select Meal</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div style="border-radius: 10%; max-width: 90%; height: 130px; text-align: center; background: url('{{foods.food.colorcode}}') no-repeat center center; background-size: cover ">
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div style="font-size: larger; font-weight: bold">{{foods.food.name}}</div>
                                            <small>{{foods.food.ingredients}}</small>
                                            <div style="font-size: larger" ng-if="fSelect[foods.id] > 0">
                                                <b>{{fSelect[foods.id]}}x</b>
                                            </div>
                                            <div ng-if="foods.calories">Calories: {{foods.calories}}</div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="row" style="margin-top: 20px">
                            <div class="col-md-6 offset-md-3" style="text-align: center">
                                <button class="btn btn-success btn-lg" id="confirmBtn" ng-click="confirmSelection()">Confirm Selection</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="text-align: center">You must be logged in to make a selection</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5" style="text-align: center">
                        <button class="btn btn-block btn-info" ng-click="goto('login')">LOGIN</button>
                    </div>
                    <div class="col-md-2" style="text-align: center"></div>
                    <div class="col-md-5" style="text-align: center">
                        <button class="btn btn-info btn-block" ng-click="goto('signup')">SIGN UP</button>
                    </div>
                </div>
            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>-->
        </div>
    </div>
</div>
<style>
    .donate-now div.b {
        min-width: 60px;
        height: 40px;
    }
    
    .donate-now label,
    .donate-now input {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    .donate-now input[type="radio"] {
        opacity: 0.011;
        z-index: 100;
    }
    
    .donate-now input[type="radio"]:checked+label {
        color: green;
        font-weight: bold;
        background: yellow;
    }
    
    .donate-now label {
        padding: 5px;
        cursor: pointer;
        z-index: 90;
    }
    
    .donate-now label:hover {
        background: #DDD;
    }
</style>
<script type="text/javascript">
    $('a.nav-link').click(function(e) {
        e.preventDefault();
        $(this).tab('show');
    });
</script>
<div ng-include="'views/partials/footer.html'"></div>