<div class="app-header primary box-shadow">
    <div ng-controller="navbarCtrl">
        <div ng-include="'views/partials/navbar.html'"></div>
    </div>
</div>
<div class="item">
    <div class="">
        <div class="hero scrolldown" ng-click="slideDown()" style="background:rgba(0, 0, 0, 0) url('assets/images/jollofthursday-banner_.jpg') no-repeat scroll center center / cover; height: 640px;width: 100% ">
        </div>
    </div>
</div>

<br>
<br>
<div class="container-fluid">
    <div class="col-md-10 offset-md-1">
        <br>

        <div class="row">
            <div class="col-md-12 boxx" ng-click="createCombo('createcombo')">
                <img src="assets/images/createcombo.jpg" class="img-responsive">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4 boxx" ng-click="gotoCombo('3for2_', 13, 1, null, null)">
                <img src="assets/images/3for2_.jpg" class="img-responsive">
            </div>

            <div class="col-md-8 boxx">
                <div class="row">
                    <div class="col-md-12 boxx" ng-click="gotoCombo('700combo', 11, 1, 2, 'Smoothie/Juice', 1, 'small')">
                        <img src="assets/images/700combo.jpg" class="img-responsive">
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12" ng-click="gotoCombo('1200combo', 12, 1, 2, 'Smoothie/Juice', 1, 'big')">
                        <img src="assets/images/1200combo.jpg" class="img-responsive">
                    </div>
                </div>

                <br>
                <br>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4 boxx" ng-click="gotoCart('teamof20', 'team20')">
                <img src="assets/images/teamof20.jpg" class="img-responsive">
            </div>
            <div class="col-md-4 boxx" ng-click="gotoCart('teamof10', 'team10')">
                <img src="assets/images/teamof10.jpg" class="img-responsive">
            </div>
            <div class="col-md-4 boxx" ng-click="gotoCart('smoothiedeal', 14)">
                <img src="assets/images/smoothiedeal.jpg" class="img-responsive">
            </div>
        </div>

    </div>
</div>
<br />
<br />
<br />
<div class="modal fade" id="sdmodal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Smoothie/juice size</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6" style="text-align: center">
                        <button class="btn btn-default" ng-click="gotoCombo('smoothiedeal', 14, 1, null, null)">
                            Small Sizes
                        </button>
                    </div>
                    <div class="col-md-6" style="text-align: center">
                        <button class="btn btn-default" ng-click="gotoCombo('smoothiedeal', 15, 1, null, null)">
                            Big Sizes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="teammodal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Team of 20 Combination</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>+ Turkey</label>
                        <select class="form-control" id="teamturkey20">
                            <option value="10">10</option>
                            <option ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]" value="{{i}}">{{i}}</option>
                        </select>
                        <!--<input type="number" class="form-control" value="10" id="teamturkey20" />-->
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <label>+ BBQ Chicken</label/>
                        <select class="form-control" id="teamchicken20">
                            <option value="5">5</option>
                            <option ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]" value="{{i}}">{{i}}</option>
                        </select>
                        <!--<input type="number" class="form-control" value="5" id="teamchicken20" />-->
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <label>+ Beef</label>
                        <select class="form-control" id="teambeef20">
                            <option value="5">5</option>
                            <option ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]" value="{{i}}">{{i}}</option>
                        </select>
                        <!--<input type="number" class="form-control" value="5" />-->
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-default" ng-click="gotoTeam20()">
                            Go
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="team10modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Team of 10 Combination</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>+ Turkey</label>
                        <select class="form-control" id="teamturkey10">
                            <option value="5">5</option>
                            <option ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]" value="{{i}}">{{i}}</option>
                        </select>
                        <!--<input type="number" class="form-control" value="10" id="teamturkey20" />-->
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <label>+ BBQ Chicken</label/>
                        <select class="form-control" id="teamchicken10">
                            <option value="5">5</option>
                            <option ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]" value="{{i}}">{{i}}</option>
                        </select>
                        <!--<input type="number" class="form-control" value="5" id="teamchicken20" />-->
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <label>+ Beef</label>
                        <select class="form-control" id="teambeef10">
                            <option value="0">0</option>
                            <option ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]" value="{{i}}">{{i}}</option>
                        </select>
                        <!--<input type="number" class="form-control" value="5" />-->
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-default" ng-click="gotoTeam10()">
                            Go
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'views/partials/footer.html'"></div>
<script type="text/javascript">
    jQuery(document).ready(function() {
        $(window).scroll(function() {
            if ($(this).scrollTop() > 1) {
                $('.navbar').switchClass("", "sticky", 700, "easeInOutQuad");
                $('.navbar').addClass("stickyLine");
            } else {
                $('.navbar').switchClass("sticky", "", 700, "easeInOutQuad");
                $('.navbar').removeClass("stickyLine");
            }
        });
    });
</script>