<div class="app-header primary box-shadow">
    <div ng-controller="navbarCtrl">
        <div ng-include="'views/partials/navbar.html'"></div>
    </div>
</div>
<div class="item">
    <div class="">
        <div class="hero scrolldown" ng-click="slideDown()" style="background:rgba(0, 0, 0, 0) url('assets/images/ewatuesdays.jpg') no-repeat scroll center center / cover; height: 640px;width: 100% ">
            <a style="cursor: pointer" ng-click="$event.stopPropagation(); showTeamModal()">
                <img style="width: 300px; position: absolute; bottom: 0px; right: 0px" src="assets/images/challengesmall.png" />
            </a>
        </div>
    </div>
</div>

<br>
<br>
<div class="container">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 boxx" ng-click="createCombo('createcombo')">
                <img src="assets/images/createcombo.jpg" class="img-responsive">
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-6 boxx" ng-click="gotoCombo('EwaBrB', 27, 1)">
                <img src="assets/images/EwaBrB.jpg" class="img-responsive">
            </div>
            <div class="col-md-6 boxx" ng-click="gotoCombo('EwaPB', 28, 1)">
                <img src="assets/images/EwaPB.jpg" class="img-responsive">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6 boxx" ng-click="gotoCombo('EwaPT', 29, 1)">
                <img src="assets/images/EwaPT.jpg" class="img-responsive">
            </div>
            <div class="col-md-6 boxx" ng-click="gotoCombo('smoothiedeal', 14)">
                <img src="assets/images/smoothiedeal2.jpg" class="img-responsive">
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-12 boxx" data-target='#teamcmodal' data-toggle="modal">
                <img src="assets/images/teamchallenge.jpg" class="img-responsive">
            </div>
        </div>
        <br>

    </div>
</div>
<br />
<br />
<div class="modal fade" id="teamcmodal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Here's how to participate:</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-10 md-offset-1">
                        <ol>
                            <h4>
                                <li>
                                    Get your team to do a combined order of 5 packs or more.
                                </li>
                            </h4>
                            <br />
                            <h4>
                                <li>
                                    Take an interesting/crazy team photo or do a team <b>#MannequinChallenge</b> video with your meals.
                                </li>
                            </h4>
                            <br />
                            <h4>
                                <li>
                                    Post on <span style="color: lightblue">twitter</span> and <span style="color: blue">facebook</span> and tag us <span style="color: green">@mealimeter</span> and on <span style="color: red">Instagram</span> and tag us
                                    <span style="color: green">@mealimeterhq</span> and hashtag <b>#TeamChallenge</b> <b>#MealimeterHQ</b>.
                                </li>
                            </h4>
                            <br />
                            <h4>
                                <li>
                                    Get friends and colleagues to tweet
                                </li>
                            </h4>
                            <hr />
                            <h2>Prizes</h2>
                            <ul>
                                <li>Tickets for team to the Cinema</li>
                                <li>Tickets for team to the Cart Racing</li>
                                <li>Tickets for team to the Karaoke</li>
                            </ul>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'views/partials/footer.html'"></div>
<script type="text/javascript">
    jQuery(document).ready(function() {
        $(window).scroll(function() {
            if ($(this).scrollTop() > 1) {
                $('.navbar').switchClass("", "sticky", 700, "easeInOutQuad");
                $('.navbar').addClass("stickyLine");
            } else {
                $('.navbar').switchClass("sticky", "", 700, "easeInOutQuad");
                $('.navbar').removeClass("stickyLine");
            }
        });
    });
</script>