<div class="app-header primary box-shadow">
    <div ng-controller="navbarCtrl">
        <div ng-include="'views/partials/navbar.html'"></div>
    </div>
</div>
<div class="item">
    <div class="">
        <div class="hero" style="background:rgba(0, 0, 0, 0) url('assets/images/banner1.jpg') no-repeat scroll center center / cover; padding: 290px;width: 100% ">
            <div class="col-sm-12" text-center>
                <span>
                    <!-- <h1 style="font-size: 70px; text-align: center; color: white; font-weight: 200;"> Jollof Thursdays </h1> -->
                </span>
            </div>
        </div>
    </div>
</div>

<br>
<!--<h1 class="green-color text-center hometext">Irresitible Deals</h1>-->
<br>

<style>
    .boxx {
        cursor: pointer;
    }
</style>


<div class="row">
    <div class="col-md-10 offset-md-1">

        <div class="row">
            <div class="col-md-12 boxx" ng-click="createCombo('createcombo.jpg')">
                <img src="assets/images/createcombo.jpg" class="img-responsive" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4 boxx" ng-click="gotoCombo('3for2_.jpg', 13)">
                <img src="assets/images/3for2_.jpg" class="img-responsive" />
            </div>

            <div class="col-md-8 boxx">
                <div class="row">
                    <div class="col-md-12" ng-click="gotoCombo('1200combo.jpg', 12)">
                        <img src="assets/images/1200combo.jpg" class="img-responsive" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <img src="assets/images/1200combo.jpg" class="img-responsive" />
                    </div>
                </div>
            </div>
        </div>
        <br />
        <!--<div class="row">
            <div class="col-md-6 boxx" ng-click="goto2Rice()">
                <img src="assets/images/dealfor5.jpg" class="img-responsive" />
            </div>

            <div class="col-md-6 boxx" ng-click="goto2Rice()">
                <img src="assets/images/dealfor5.jpg" class="img-responsive" />
            </div>
        </div>-->
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-md-3">
            <!--<p style="text-align: center">Hello world<br />this is an image</p>-->
            <div class="text-center" id="countdown_wp">
                <br><br>
                <div class="container_count ">
                    <div id="days" class="sideborder">00</div>Days</div>
                <div class="container_count ">
                    <div id="hours" class="sideborder">00</div>Hours</div>
                <div class="container_count ">
                    <div id="minutes">00</div>Minutes</div>
                <br>
                <br>
            </div>
        </div>
    </div>
    <script>
        function fixIntegers(integer) {
            if (integer < 0)
                integer = 0;
            if (integer < 10)
                return "0" + integer;
            return "" + integer;
        }
        setInterval(function() {
            var target = new Date("December 01 2016 8:00 GMT+0100"); //replace with YOUR DATE
            var now = new Date();
            var difference = Math.floor((target.getTime() - now.getTime()) / 1000);

            var seconds = fixIntegers(difference % 60);
            difference = Math.floor(difference / 60);

            var minutes = fixIntegers(difference % 60);
            difference = Math.floor(difference / 60);

            var hours = fixIntegers(difference % 24);
            difference = Math.floor(difference / 24);

            var days = difference;

            $(".container_count #seconds").html(seconds);
            $(".container_count #minutes").html(minutes);
            $(".container_count #hours").html(hours);
            $(".container_count #days").html(days);

        }, 1000);
    </script>