<div class="app-header primary box-shadow">
    <div ng-controller="navbarCtrl">
        <div ng-include="'views/partials/navbar.html'" ng-show="show"></div>
    </div>
</div>
<div class="item">
    <div class="">
        <div  class="hero" style="background:rgba(0, 0, 0, 0) url('/assets/images/rice.jpg') no-repeat scroll center center / cover; padding: 220px; ">
           <div class="col-sm-12" text-center>
                <span>
                    <h1 style="font-size: 70px; text-align: center; color: white; font-weight: 200;"> Jollof Thursdays </h1>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="padding" style="background-color: #fff;">
    <div class="container">

        <div class="row">
            <div class="col-sm-6 offset-md-3">
                <div class="text-center" id="countdown_wp">
                    <br>
                    <br><br>
                    <div class="container_count sideborder"><div id="days">00</div>Days</div>
                    <div class="container_count sideborder"><div id="hours">00</div>Hours</div>
                    <div class="container_count "><div id="minutes">00</div>Minutes</div>
                    <!-- <div class="container_count last"><div id="seconds">00</div>Seconds</div> -->
                    <br>
                    <br>
                    <br>
                    <a type="button" class="text-center btn btn-default" ng-click="loginAsGuest()">Get Started</a> 
				</div>
            </div>
		</div>
		<div class="row">
            <div class="col-sm-6 offset-md-3">
                <div class="text-center" id="countdown_wp">
                    <br>
                    <br><br>
                    <div class="container_count sideborder"><div id="days">00</div>Days</div>
                    <div class="container_count sideborder"><div id="hours">00</div>Hours</div>
                    <div class="container_count"><div id="minutes">00</div>Minutes</div>
                    <!-- <div class="container_count last"><div id="seconds">00</div>Seconds</div> -->
                    <br>
                    <br>
                    <br>
                    <a type="button" class="text-center btn btn-default" ng-click="loginAsGuest()">Get Started</a> 
				</div>
            </div>
		</div>
    </div>              
</div>
<script>
function fixIntegers(integer) {
    if (integer < 0)
        integer = 0;
    if (integer < 10)
        return "0" + integer;
    return "" + integer;
}
    setInterval(function() {
        var target = new Date("December 01 2016 8:00 GMT+0100"); //replace with YOUR DATE
        var now = new Date();
        var difference = Math.floor((target.getTime() - now.getTime()) / 1000);

        var seconds = fixIntegers(difference % 60);
        difference = Math.floor(difference / 60);

        var minutes = fixIntegers(difference % 60);
        difference = Math.floor(difference / 60);

        var hours = fixIntegers(difference % 24);
        difference = Math.floor(difference / 24);

        var days = difference;

        $(".container_count #seconds").html(seconds);
        $(".container_count #minutes").html(minutes);
        $(".container_count #hours").html(hours);
        $(".container_count #days").html(days);

    }, 1000);
</script>