<div class="app-header primary box-shadow">
    <div ng-controller="navbarCtrl">
        <div ng-include="'views/partials/navbar.html'" ng-show="show"></div>
    </div>
</div>
<div class="item">
    <div class="item-bg">
    </div>
    <div class="hero">
        <div class="row">
            <div class="col-sm-12" text-center>
                <span>
                    <h1 style="font-size: 70px; text-align: center; color: white">{{daytext}}</h1>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="m-b">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Pre-order Meals</li>
    </ol>
</div>
<div class="padding">
    <div class="row">

        <div class="col-md-8">
            <!-- <div class="col-sm-12"> -->
            <div class="col-sm-12"  ng-show="done">
                <div class="card card-8 no-radius" ng-repeat="meal in meals[day].options">
                    <div class="col-md-4">
                        <img alt="Menu Image" class="img-responsive menu-item-img" src="assets/images/rice.jpg" style=" ">
                        <h3 class="text-center">{{meal.option.name}}</h3>
                            
                    </div>
                    <div class="col-md-8 boxed bg--white">
                        <div class="row">
                            <div class="card__title">
                                <h5> <b>Options</b></h5>
                                <h3 ng-hide="true" >{{x = $index}}</h3>
                            </div>
                            <hr>
                            <div ng-repeat="additive in meal.option.additives">
                            <!-- <div class="row"> -->
                                <div class="col-md-10 col-xs-9">
                                     <p>   
                                     <i class="fa fa-plus icon-xs"></i>

                                     {{additive}} <a href="javascript:;" data-toggle="popover" title="Calories" data-placement="top" data-content="Don't worry, you won't be fat.">
                                        <i class="fa fa-info-circle icon-info" ng-click="addtocart($index,x)"></i>
                                        </a>
                                     <span>
                                      - <b> {{  meal.option.prices[$index] | currency:"₦":0 }} </b> 
                                    <!--  <a href="">
                                        <i class="fa fa-info-circle icon-info" ng-click="addtocart($index,x)"></i>
                                        </a> -->
                                     </span>
                                         
                                     </p>
                                </div>
                                <div class="col-md-2 col-xs-3">
                                    <a href="">
                                        <i class="fa fa-plus-square-o  icon-add" ng-click="addtocart($index,x)"></i>
                                     </a>
                                    <a href="">
                                        <i class="fa fa-minus-square-o  icon-add" ng-click="removefromcart($index,x)"></i>
                                    </a>
                                </div>
                            <!-- </div> -->
                            </div>
                            <br>
                        </div>
                        
                        <div class="row">
                            <div class="card__title">
                                <h5><b> Extras - Drinks & Snacks </b></h5>
                                <h3 ng-hide="true">{{x = $index}}</h3>
                            </div>
                            <hr>
                            <div ng-repeat="additive in meal.option.additives">
                            <!-- <div class="row"> -->
                                <div class="col-md-10 col-xs-9">
                                     <p>   
                                    {{additive}} <a href="">
                                        <i class="fa fa-info-circle icon-info" ng-click="addtocart($index,x)"></i>
                                        </a>
                                     <span>
                                      - <b> {{  meal.option.prices[$index] | currency:"₦":0 }} </b> 
                                    <!--  <a href="">
                                        <i class="fa fa-info-circle icon-info" ng-click="addtocart($index,x)"></i>
                                        </a> -->
                                     </span>
                                         
                                     </p>
                                </div>
                                <div class="col-md-2 col-xs-3">
                                    <a href="">
                                        <i class="fa fa-plus-square-o  icon-add" ng-click="addtocart($index,x)"></i>
                                     </a>
                                    <a href="">
                                        <i class="fa fa-minus-square-o  icon-add" ng-click="removefromcart($index,x)"></i>
                                    </a>
                                </div>
                            <!-- </div> -->
                            </div>
                            <br>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="box"  ng-show="notdone"  style="padding:10px">
               <div class="total-section" style="padding:30px">
                     <h1 style="text-align:center">Your order has been taken </h1>
                </div>
            </div>

        </div>

        <div class="col-md-4 cart-sidebar" style="display:{{one}}">
            <div class="box" style="position: relative;">
                <div class="box-header dker2">
                    Your Order
                </div>
                <div class="p-a-md text-center">
                    <table class="table text-left">
                        <thead class="">
                            <tr>
                                <th width="10%">
                                    Qty
                                </th>
                                <th width="70%">
                                    Meal
                                </th>
                                <th width="20%">
                                    Price
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in cart">
                                <td>
                                    {{item.quantity}}x
                                </td>
                                <td>
                                    <b>{{item.mainmeal}}</b>
                                    <br><span class="toppings">+ {{item.additive}}</span>
                                    
                                </td>
                                <td>
                                   {{ item.price | currency:"₦":0 }} 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <tbody class="total-section">
                            <tr>
                                <td class="total">Total</td>
                                <td class="price">  {{ total | currency:"₦":0 }}</td>
                            </tr>
                            <tr>
                                <td class="total">Company subsidy</td>
                                <td class="price">- {{ companysubsidy | currency:"₦":0 }}</td>
                            </tr>
                            <tr >
                                <td class="total"><b>Amount Due </b></td>
                                <td class="amount-due dark-green-color"><b>  {{ due | currency:"₦":0 }} </b></td>
                            </tr>
                        </tbody>
                    </table>
                <div ng-if="daytext == 'Monday'">
                    <!-- <a class="btn btn-fw primary" href="" disabled>Previous</a> -->
                    <a class="btn btn-fw primary btn-full" href="#/pre-order/tuesday">Next</a>
                </div>
                <div ng-if="daytext == 'Tuesday'">
                    <a class="btn btn-fw primary btn-half" href="#/pre-order/monday"> <i class="fa fa-arrow-circle-left "></i> Previous</a>
                    <a class="btn btn-fw primary btn-half" href="#/pre-order/wednesday">Next <i class="fa fa-arrow-circle-right "></i> </a>
                </div>
                <div ng-if="daytext == 'Wednesday'">
                    <a class="btn btn-fw primary btn-full" href="#/pre-order/tuesday">Previous</a>
                    <a class="btn btn-fw primary btn-full" href="#/pre-order/thursday">Next</a>
                </div>
                <div ng-if="daytext == 'Thursday'">
                    <a class="btn btn-fw primary btn-full" href="#/pre-order/wednesday">Previous</a>
                    <a class="btn btn-fw primary btn-full" href="#/pre-order/friday">Next</a>
                </div>
                <div ng-if="daytext == 'Friday'">
                    <a class="btn btn-fw primary btn-full" href="#/pre-order/thursday">Previous</a>
                    <!-- <a class="btn btn-fw primary" disabled>Next</a> -->
                </div>
                    <a class="btn btn-fw primary btn-full btn-dark-green" href="#/checkout">Checkout</a>
                
                </div>
            </div>
            <!-- <div class="box" style="display:{{two}}"> -->
            <div class="box">
                <div class="box-header dker2 text-center">
                    Your Order
                </div>
                <div class="p-a-md text-center">
                    <img src="assets/images/food-basket.png" alt="" width="75px">
                    
                    <div class="top-dotted"></div>
                    <p>Add menu items into your basket</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
       $('[data-toggle="popover"]').popover();
</script>