<div class="app-header primary box-shadow">
    <div ng-controller="navbarCtrl">
        <div ng-include="'views/partials/navbar.html'" ng-show="show"></div>
    </div>
</div>

<div class="item">
    <br>
    <br>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-12" style="height: 400px; text-align: center; background: url(assets/images/{{preImage}}) no-repeat center center; background-size: contain">
            </div>
        </div>

    </div>
</div>

<div class="padding">
    <div class="container">
        <div class="row" ng-if="preRefer > 0">
            <div class="col-md-10 offset-md-1 box" style="padding: 10px">
                <h3>Invite {{preRefer}} to get a free {{preReferItem}}</h3>
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" placeholder="Your name" id="personname" class="form-control" />
                    </div>
                </div>
                <div class="row" style="text-align: center">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in referList" id="prow{{item}}">
                                <td>
                                    <button class="btn btn-link" ng-click="remove(item)">
                                            <i class="fa fa-times" style="color: red"></i>
                                        </button>
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="pinvite-name{{item}}" />
                                    <small class="msgerror itemerror{{item}}" id="errorName{{item}}"></small>
                                </td>
                                <td>
                                    <input type="email" class="form-control" id="pinvite-email{{item}}" />
                                    <small class="msgerror itemerror{{item}}" id="errorEmail{{item}}"></small>
                                </td>
                                <td>
                                    <input type="tel" class="form-control" id="pinvite-phone{{item}}" />
                                    <small class="msgerror itemerror{{item}}" id="errorPhone{{item}}"></small>
                                </td>
                                <td>
                                    <button class="btn btn-fw primary btn-dark-green" id="psendBtn{{item}}" ng-click="sendInvite(item)">Send</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <hr />

                    <div class="row" style="text-align: center">
                        <table class="table table-condensed">
                            <!--<thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th></th>
                                </tr>-->
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in done">
                                    <td>
                                        {{user.name}}
                                    </td>
                                    <td>
                                        {{user.email}}
                                    </td>
                                    <td>
                                        {{user.phone}}
                                    </td>
                                    <td style="color: green">
                                        <i class="fa fa-check"></i> Sent
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <small>*applies only if the refered persons buy</small>
                </div>
            </div>
        </div>
        <div class=" row " style="background-color: #fff;margin: 0; ">
            <div class="col-md-7 cart-sidebar cart-sidebar2 " style="padding-left: 0px;padding-right: 0px; height: 100%;background-color: #fff; ">
                <div class="box box-color2 " style="position: relative;padding: 30px; ">
                    <div class="box-header dker2 " style="background-color: #fff;color:#000; ">
                        <h2 class="myorderheader "> My Order </h2>
                    </div>
                    <div class="p-a-md text-center " ng-hide="total < 1 ">
                        <table class="table text-left hometable ">
                            <thead class=" ">
                                <tr>
                                    <th width="15% ">
                                        Qty
                                    </th>
                                    <th width="65% ">
                                        Meal
                                    </th>
                                    <th width="20% ">
                                        Price
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in cart track by $index ">
                                    <td>
                                        <div style="min-width: 50px ">
                                            {{item.quantity}}x

                                            <span style="color: green; cursor: pointer " ng-click="addToCart(item.food) ">
                                                <i class="fa fa-caret-up "></i>
                                            </span>
                                            <span style="color: green; cursor: pointer " ng-click="removeFromCart(item.food) ">
                                                <i class="fa fa-caret-down "></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <b>{{item.mainmeal}}</b>
                                        <br><span class="toppings ">+ {{item.additive}}</span>

                                    </td>
                                    <td>
                                        {{ item.price | currency:"₦ ":0 }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="p-a-md text-center " ng-hide="total> 1">
                        <img src="assets/images/food-basket.png" alt="" width="75px">

                        <div class="top-dotted"></div>
                        <p>Add menu items into your basket</p>
                    </div>
                </div>

            </div>

            <div class="col-md-5 boxed bg--white" style=" background-color: #e9e9e9;padding: 0;margin-bottom: 0;">
                <div style="padding:2em">
                    <div class="" style="background-color:#8ac03e; padding:20px;color:#fff;">
                        <p style="font-size:20px;">Nutritution Info </p>
                        <hr style="background-color: #fff;margin-top:-5px;">
                        <br> Your Order - 40 Calories

                    </div>
                    <br>
                    <table class="table">
                        <tbody class="total-section">
                            <tr>
                                <td class="total">Total</td>
                                <td class="price"> {{ total | currency:"₦":0 }}</td>
                            </tr>
                            <tr ng-hide="companysubsidy < 1">
                                <td class="total">Company subsidy</td>
                                <td class="price">- {{ companysubsidy | currency:"₦":0 }}</td>
                            </tr>
                            <tr ng-hide="discount < 1">
                                <td class="total">Discount</td>
                                <td class="price">- {{ discount | currency:"₦":0 }}</td>
                            </tr>
                            <tr>
                                <td class="total"><b>Amount Due </b></td>
                                <td class="amount-due dark-green-color"><b>  {{ due | currency:"₦":0 }} </b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="p-a-md text-center" style="padding: 0rem !important;">
                    <!--<div ng-if="daytext == 'Monday'">
                        <a class="btn btn-fw primary btn-full" href="#/pre-order/tuesday">Next <i class="fa fa-arrow-circle-right "></i> </a>
                    </div> -->
                    <div ng-if="daytext == 'Tuesday'">
                        <a class="btn btn-fw primary btn-half" href="#/pre-order/thursday"> <i class="fa fa-arrow-circle-left "></i> Order for Tuesday</a>
                        <!--<a class="btn btn-fw primary btn-half" href="#/pre-order/wednesday">Next <i class="fa fa-arrow-circle-right "></i> </a>-->
                    </div>
                    <!--<div ng-if="daytext == 'Wednesday'">
                        <a class="btn btn-fw primary btn-half" href="#/pre-order/tuesday"><i class="fa fa-arrow-circle-left "></i> Previous</a>
                        <a class="btn btn-fw primary btn-half" href="#/pre-order/thursday">Next  <i class="fa fa-arrow-circle-right "></i> </a>
                    </div>-->
                    <div ng-if="daytext == 'Thursday'">
                        <!--<a class="btn btn-fw primary btn-half" href="#/pre-order/wednesday"><i class="fa fa-arrow-circle-left "></i> Previous</a>-->
                        <a class="btn btn-fw primary btn-half" href="#/pre-order/tuesday">Order for Tuesday  <i class="fa fa-arrow-circle-right "></i> </a>
                    </div>
                    <!--<div ng-if="daytext == 'Friday'">
                        <a class="btn btn-fw primary btn-full" href="#/pre-order/thursday"><i class="fa fa-arrow-circle-left "></i>  Previous</a>
                    </div>-->
                    <a class="btn btn-fw primary btn-full btn-dark-green" href="#/checkout">Checkout</a>

                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-sm-12" ng-show="done">
                <div class="card card-8 no-radius">
                    <div class="col-md-10 offset-md-1 boxed bg--white">
                        <!--<div style="display:none;">{{x = $index}} </div>?-->
                        <div class="row">
                            <div class=" navline">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" showtab href="#mealsection" role="tab" data-toggle="tab">
                                            <h5 class="toggleitem">Food </h5>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" showtab href="#drinksection" role="tab" data-toggle="tab">
                                            <h5 class="toggleitem"> Drinks </h5>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" showtab href="#snacksection" role="tab" data-toggle="tab">
                                            <h5 class="toggleitem"> Snacks </h5>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="mealsection">
                                    <table class="table text-left mealtable">
                                        <thead class="">
                                            <tr>
                                                <th width="70%">

                                                </th>
                                                <th width="10%" class="price topprice">

                                                </th>
                                                <th width="20%">

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="foods in food" class="menurow" ng-show="foods.main != 'Combo'">
                                                <td>
                                                    <!-- <i class="fa fa-plus icon-xs"></i> -->
                                                    <i class="fa fa-square icon-xs"></i> {{foods.name}}
                                                </td>
                                                <td class="price">
                                                    {{ foods.price | currency:"₦ ":0 }}

                                                </td>
                                                <td>
                                                    <div style="display: inline-block; cursor: pointer; height: 40px" ng-click="addToCart(foods)" title="add to cart">
                                                        <img src="assets/images/plusicon.png" style="height: inherit" />
                                                    </div>

                                                    <div style="display: inline-block; cursor: pointer; height: 40px" ng-click="removeFromCart(foods)" title="remove from cart">
                                                        <img src="assets/images/minusicon.png" style="height: inherit" />
                                                    </div>

                                                    <div style="display: inline-block; cursor: pointer; height: 40px" my-tooltip class="info-icon" data-toggle="tooltip" data-placement="top" data-html="true" title="{{foods.calories}} Calories">
                                                        <img src="assets/images/infoicon.png" style="height: inherit" />
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="drinksection">
                                    <table class="table text-left mealtable">
                                        <thead class="">
                                            <tr>
                                                <th width="70%">

                                                </th>
                                                <th width="10%" class="price topprice">

                                                </th>
                                                <th width="20%">

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="drink in drinks" class="menurow">
                                                <td>
                                                    <!-- <i class="fa fa-plus icon-xs"></i> -->
                                                    <i class="fa fa-square icon-xs"></i> {{drink.name}}
                                                </td>
                                                <td class="price">
                                                    {{ drink.price | currency:"₦ ":0 }}

                                                </td>
                                                <td>
                                                    <div style="display: inline-block; cursor: pointer; height: 40px" ng-click="addToCart(drink)" title="add to cart">
                                                        <img src="assets/images/plusicon.png" style="height: inherit" />
                                                    </div>

                                                    <div style="display: inline-block; cursor: pointer; height: 40px" ng-click="removeFromCart(drink)" title="remove from cart">
                                                        <img src="assets/images/minusicon.png" style="height: inherit" />
                                                    </div>

                                                    <div style="display: inline-block; cursor: pointer; height: 40px" my-tooltip class="info-icon" data-toggle="tooltip" data-placement="top" data-html="true" title="<b>50</b> <br>  <i>Calories</i>">
                                                        <img src="assets/images/infoicon.png" style="height: inherit" />
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="snacksection">
                                    <table class="table text-left mealtable">
                                        <thead class="">
                                            <tr>
                                                <th width="70%">

                                                </th>
                                                <th width="10%" class="price topprice">

                                                </th>
                                                <th width="20%">

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="snack in snacks" class="menurow">
                                                <td>
                                                    <!-- <i class="fa fa-plus icon-xs"></i> -->
                                                    <i class="fa fa-square icon-xs"></i> {{snack.name}}
                                                </td>
                                                <td class="price">
                                                    {{ snack.price | currency:"₦ ":0 }}

                                                </td>
                                                <td>
                                                    <div style="display: inline-block; cursor: pointer; height: 40px" ng-click="addToCart(snack)" title="add to cart">
                                                        <img src="assets/images/plusicon.png" style="height: inherit" />
                                                    </div>

                                                    <div style="display: inline-block; cursor: pointer; height: 40px" ng-click="removeFromCart(snack)" title="remove from cart">
                                                        <img src="assets/images/minusicon.png" style="height: inherit" />
                                                    </div>

                                                    <div style="display: inline-block; cursor: pointer; height: 40px" my-tooltip class="info-icon" data-toggle="tooltip" data-placement="top" data-html="true" title="<b>50</b> <br>  <i>Calories</i>">
                                                        <img src="assets/images/infoicon.png" style="height: inherit" />
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- <div class="card__title">
                                <h5><b> Extras </b></h5>
                                <h3 ng-hide="true">{{x = $index}}</h3>
                            </div>
                            <hr> -->

                        </div>

                    </div>
                </div>
            </div>

            <div class="box" ng-show="notdone" style="padding:10px">
                <div class="total-section" style="padding:30px">
                    <h1 style="text-align:center">Your order has been taken </h1>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    $('a.nav-link').click(function(e) {
        e.preventDefault();
        $(this).tab('show');
    });
</script>
<div ng-include="'views/partials/footer.html'"></div>
