<!-- ############ LAYOUT START-->
<style type="text/css">
    .loginBody {
        overflow-x: hidden;
        background-color: #454444!important;
        background-image: url(./assets/images/pattern.png);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow: hidden;
        background-repeat: inherit;
        width: 100%;
        /*min-height: 80vh;*/
        height: 80%!important;
    }
</style>
<div class="loginBody">

    <!-- ############ LAYOUT START-->
    <div class="center-block w-xxl w-auto-xs p-y-md">
        <div class="navbar">
        </div>
        <img src="assets/images/logo-m-g.png" class="img-responsive" alt="Mealimeter Logo">
        <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
            <div class="m-b">
                <div class="alert alert-success">
                    <strong>Your registration was successful</strong>
                </div>
                <div class="p-v-lg text-center">Please check your email for confirmation link to activate your Mealimeter account.</div>

            </div>
        </div>
        <div class="p-v-lg text-center" style="color: #fff">Return to <a href="#/login" class="text-primary _600">Login</a> | <a href="#/signup" class="text-primary _600">Signup</a></div>
    </div>

    <!-- ############ LAYOUT END-->

</div>