<style type="text/css">
  .loginBody{
    overflow-x: hidden;
    background-color:#e1e1e1!important;
    background-image: url(./assets/images/pattern.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    background-repeat: inherit;
    width: 100%;
    min-height: 100vh;
    height: 100%!important;
  }
</style>
<div class="loginBody">

<!-- ############ LAYOUT START-->
  <div class="center-block w-xxl w-auto-xs p-y-md">
    <div class="navbar">
    </div>
    <img src="assets/images/logo-m-g.png" class="img-responsive" alt="Mealimeter Logo">
    <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
      <div class="m-b">
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Registation Successful</strong> Alert body ...
        </div>
      </div>
      <form name="reset">
        <div class="md-form-group">
          <input type="email" class="md-input" required>
          <label>Your Email</label>
        </div>
        <button type="submit" class="btn primary btn-block p-x-md">Send</button>
      </form>
    </div>
    <p id="alerts-container"></p>
    <div class="p-v-lg text-center">Return to <a href="login.html" class="text-primary _600">Login Page</a></div>    
  </div>

<!-- ############ LAYOUT END-->

</div>
