<div class="app-header primary box-shadow">
<div ng-controller="navbarCtrl"> 
      <div ng-include="'views/partials/navbar.html'" ng-show="show"></div>
    </div>   
</div>

<div class="frame" style="position:absolute;height: 100%;width: 100%;background-color: white;z-index:1000;margin-top:60px" ng-show="showframe">
  <div style="position: relative;">
    <div style="z-index:1000">
      <a style="float:right;padding-right: 20px" ng-click="closeframe" style="cursor: pointer"><b>x</b></a>
    </div>
    <iframe  ng-src="{{imgsrc}}" frameborder="0" style="overflow:hidden;height:100vh;width:100%;margin-top:-20px;z-index:1" height="100%" width="100%">
    </iframe>
  </div>
</div>
<div class="m-b">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Top-up Account</li>
      </ol>
</div>
<div class="padding">
  <div class="row">
    <div class="col-md-4 offset-md-4">
    <div class="text-center">
    <img alt="wallet" src="assets/images/wallet.png" width="300px" class="">
    </div>
      <div class="box">
        <div class="box-header primary">
          <h2>Top-up account</h2>
          <small>Uniquely engineer multimedia based experiences after distributed opportunities. Intrinsicly enhance B2B paradigms whereas progressive applications. Monotonectally.</small>
        </div>
        <div class="box-divider m-a-0"></div>
        <div class="box-body">
          <form role="form" ng-submit="topup(data)" method="POST">
            <div class="form-group">
              <label for="exampleInputEmail1">Top-up amount</label>
              <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Enter amount" ng-model="data.amount">
            </div>
            <button type="submit" class="btn white m-b">Top-up</button>
          </form>
          <form >
            <script src="https://js.paystack.co/v1/inline.js"></script>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ############ PAGE END-->

</div>
</div>
  <!-- / -->



<!-- ############ LAYOUT END-->

  </div>
<!-- build:js scripts/app.html.js -->
<!-- jQuery -->
  <script src="../libs/jquery/jquery/dist/jquery.js"></script>
<!-- Bootstrap -->
  <script src="../libs/jquery/tether/dist/js/tether.min.js"></script>
  <script src="../libs/jquery/bootstrap/dist/js/bootstrap.js"></script>
<!-- core -->
  <script src="../libs/jquery/underscore/underscore-min.js"></script>
  <script src="../libs/jquery/jQuery-Storage-API/jquery.storageapi.min.js"></script>
  <script src="../libs/jquery/PACE/pace.min.js"></script>

  <script src="scripts/config.lazyload.js"></script>

  <script src="scripts/palette.js"></script>
  <script src="scripts/ui-load.js"></script>
  <script src="scripts/ui-jp.js"></script>
  <script src="scripts/ui-include.js"></script>
  <script src="scripts/ui-device.js"></script>
  <script src="scripts/ui-form.js"></script>
  <script src="scripts/ui-nav.js"></script>
  <script src="scripts/ui-screenfull.js"></script>
  <script src="scripts/ui-scroll-to.js"></script>
  <script src="scripts/ui-toggle-class.js"></script>

  <script src="scripts/app.js"></script>

  <!-- ajax -->
  <script src="../libs/jquery/jquery-pjax/jquery.pjax.js"></script>
  <script src="scripts/ajax.js"></script>
<!-- endbuild -->
</body>
</html>
