<div class="app-header primary box-shadow">
    <div ng-controller="navbarCtrl">
        <div ng-include="'views/partials/navbar.html'" ng-show="show"></div>
    </div>
</div>
<style type="text/css">
    .loginBody {
        overflow-x: hidden;
        background-color: #454444!important;
        background-image: url(./assets/images/pattern.png);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow: hidden;
        background-repeat: inherit;
        width: 100%;
        min-height: 100vh;
        height: 100%!important;
    }
</style>
<div class="loginBody">
    <div class="frame" style="position:absolute;height: 100%;width: 100%;background-color: white;z-index:1000;margin-top:60px" ng-show="showframe">
        <div style="position: relative;">
            <div style="z-index:1000">
                <a style="float:right;padding-right: 20px" ng-click="closeframe" style="cursor: pointer"><b>x</b></a>
            </div>
            <iframe ng-src="{{imgsrc}}" frameborder="0" style="overflow:hidden;height:100vh;width:100%;margin-top:-20px;z-index:1" height="100%" width="100%">
        </iframe>
        </div>
    </div>
    <div class="m-b">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Top-up Account</li>
        </ol>
    </div>
    <div class="padding">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="text-center">
                    <img alt="wallet" src="assets/images/wallet.png" width="150px" class="">
                </div>
                <br>
                <div class="box" ng-controller="payCtrl as PC">
                    <div class="box-header dker2">
                        <h2>Top-up account</h2>
                        <!--<small>Uniquely engineer multimedia based experiences after distributed opportunities. Intrinsicly enhance B2B paradigms whereas progressive applications. Monotonectally.</small>-->
                    </div>
                    <div class="box-divider m-a-0"></div>
                    <div class="box-body">
                        <!--<form role="form" ng-submit="topup(data)" method="POST">-->
                        <div class="form-group">
                            <label>Amount</label>
                            <input type="number" class="form-control" only-digits placeholder="Enter amount" ng-model="amt">
                        </div>
                        <button type="button" id="payBtn" class="btn white m-b btn-full" ng-click="ngFn()">Pay Online</button>
                        <!--</form>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- ############ PAGE END-->
</div>
</div>
</div>
<!-- / -->



<!-- ############ LAYOUT END-->

</div>
<!-- build:js scripts/app.html.js -->
<!-- jQuery -->
<script src="../libs/jquery/jquery/dist/jquery.js"></script>
<!-- Bootstrap -->
<script src="../libs/jquery/tether/dist/js/tether.min.js"></script>
<script src="../libs/jquery/bootstrap/dist/js/bootstrap.js"></script>
<!-- core -->
<script src="../libs/jquery/underscore/underscore-min.js"></script>
<script src="../libs/jquery/jQuery-Storage-API/jquery.storageapi.min.js"></script>
<script src="../libs/jquery/PACE/pace.min.js"></script>

<script src="scripts/config.lazyload.js"></script>

<script src="scripts/palette.js"></script>
<script src="scripts/ui-load.js"></script>
<script src="scripts/ui-jp.js"></script>
<script src="scripts/ui-include.js"></script>
<script src="scripts/ui-device.js"></script>
<script src="scripts/ui-form.js"></script>
<script src="scripts/ui-nav.js"></script>
<script src="scripts/ui-screenfull.js"></script>
<script src="scripts/ui-scroll-to.js"></script>
<script src="scripts/ui-toggle-class.js"></script>

<script src="scripts/app.js"></script>

<!-- ajax -->
<script src="../libs/jquery/jquery-pjax/jquery.pjax.js"></script>
<script src="scripts/ajax.js"></script>
<!-- endbuild -->
</body>

</html>