.navbar .nav-link,
a:not([href]):not([tabindex]) {
    color: #324518;
}

.nav-link:hover,
.nav-link:focus {
    color: #fff;
}

.navbar .nav-link2 {
    color: white !important;
}

.nav-link3:hover,
.nav-link3:focus {
    color: #fff !important;
}

.navbar .pull-right .nav-link {
    color: #324518;
    font-weight: bold;
}
 .boxx {
        cursor: pointer;
    }

/*
.navbar.stickyLine {
    border-bottom: 1px solid #a58561;
}

.navbar.stickyLine .navbar.navbar-default {
    border-bottom: 0px solid transparent;
}*/
.navbar .hidehome{
  display: none;
}
.navbar.sticky, .sticky .navbar {
    background-color: /*rgba(172, 230, 47, 0.68);*/#8ac03e;
    border-radius: 0rem;
}
.navbar.sticky .hidehome, .sticky .navbar .hidehome {
  display: block;
}

.btn-trans {
    background-color: transparent;
    color: #fff;
}

.btn.primary {
    background-color: #8ac03e;
}

.myorderheader {
    font-weight: 200;
    padding-top: 5px;
    padding-bottom: 20px;
    border-bottom: 1px solid #8ac03e;
}

.card2 {
    border-color: rgba(0, 0, 0, 0.13);
}


/*Countdown*/

.container_count {
    width: 100px;
    display: inline-block;
    margin-right: 5px;
    color: #000 !important;
    text-align: center;
}

.container_count.last {
    margin-right: 0;
}

#countdown_wp {
     text-align: left;
      position: absolute;
    margin: -15px 0 20px 0;
}

#countdown_wp h3 {
    text-transform: uppercase;
}

#days, #hours, #minutes, #seconds {
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 20px;
    font-weight: 300;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 100px;
}

.box-color2 {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.15);
}

.hometable>tbody>tr>td,
.hometable>tbody>tr>th,
.hometable>tfoot>tr>td,
.hometable>tfoot>tr>th {
    border-bottom: 1px solid #8ac03e;
    padding: 12px 10px;
}

.hometext {
    font-weight: 600;
    font-size: 60px;
}

.toggleitem {
    font-weight: 300;
}

.nav-tabs .nav-item.open .nav-link,
.nav-tabs .nav-link.active {
    background-color: #fff;
    border-bottom-color: #8ac03e;
    border-bottom-width: 3px;
    color: #55595c;
}

.topprice {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.navline {
    border-bottom: 1px solid #8ac03e;
}

.sideborder {
    border-right-color: #8ac03e;
    border-right-width: 1px;
    border-right-style: solid;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-item.open .nav-link:focus,
.nav-tabs .nav-item.open .nav-link:hover,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover {
    color: #8ac03e !important;
    background-color: #fff;
    border-bottom-color: #8ac03e;
    border-bottom-width: 3px;
}

.big-font {
    font-size: 25px;
    font-weight: 300;
}

.modal-dialog {
    width: 95%;
    /*position: absolute;*/
    margin-top: 10%;
}

.table td,
.table th {
    border-top: 0px solid #eceeef;
}

.menurow {
    border-bottom: 1px solid rgba(120, 130, 140, 0.87) !important;
}

.mealtable>tbody>tr>td.price,
.mealtable>tbody>tr>th.price,
.mealtable>tfoot>tr>td.price,
.mealtable>thead>tr>th.price {
    background-color: rgba(138, 192, 62, 0.2);
    color: #767676;
    text-align: center;
    font-size: 19px;
}

.tooltip-arrow,
.red-tooltip+.tooltip>.tooltip-inner {
    background-color: rgba(138, 192, 62, 0.2);
}


/*Basic Elements*/

.icon-add {
    color: #8AC03E;
    margin-right: 10px;
    font-size: 23px;
}

.card-8 h3 {
    font-weight: 200;
}

.icon-xs {
    color: #8AC03E;
    margin-right: 2px;
    font-size: 6px;
}

.btn-half {
    width: 49.5%;
    margin-bottom: 5px;
    border-radius: 0;
    display: inline-block;
}

.btn-white {
    color: #fff;
}

.btn-full {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 0;
}

.no-radius {
    border-radius: 0;
}

.icon-info {
    color: #959595;
    font-weight: 100px;
    font-size: 23px;
}

.icon-add:hover,
.icon-add:focus {
    color: #6c9631;
}


/*Styles for Table*/

.toppings {
    margin-left: 5px;
    font-size: 13px;
}

.menu-item-img {
    /*max-height: 300px;*/
    margin-top: 10px;
    margin-bottom: 10px;
}

.td {
    padding-top: 15px;
}

.price {
    font-size: 15px;
    text-align: right;
}

.total {
    text-align: left;
    vertical-align: bottom;
}

.amount-due {
    text-align: right;
    font-size: 20px;
    vertical-align: bottom;
}

.white-color {
    color: #fff;
}

.green-color {
    color: #8ac03e;
}

.btn-green-color {
    color: #8ac03e !important;
    font-size: 20px;
}

.btn-dark-green {
    background-color: #6c9631;
}

.btn-dark-green:hover,
.btn-dark-green:focus {
    background-color: #8ac03e;
}

.dark-green-color {
    color: #6c9631;
}

.total-section {
    border-color: #8ac03e;
    border-style: dotted;
    border-width: 2px;
}

.top-dotted {
    border-top-color: #8ac03e;
    border-top-style: dotted;
    border-top-width: 2px;
    margin-bottom: 20px;
    margin-top: 20px;
}


/*Styles For BreadCrumb*/

.cd-breadcrumb,
.cd-multi-steps {
    width: 90%;
    max-width: 768px;
    padding: 0.5em 1em;
    margin: 1em auto;
    background-color: #edeff0;
    border-radius: .25em;
}

.cd-breadcrumb:after,
.cd-multi-steps:after {
    content: "";
    display: table;
    clear: both;
}

.cd-breadcrumb li,
.cd-multi-steps li {
    display: inline-block;
    float: left;
    margin: 0.5em 0;
}

.cd-breadcrumb li::after,
.cd-multi-steps li::after {
    /* this is the separator between items */
    display: inline-block;
    content: '\00bb';
    margin: 0 .6em;
    color: #959fa5;
}

.cd-breadcrumb li:last-of-type::after,
.cd-multi-steps li:last-of-type::after {
    /* hide separator after the last item */
    display: none;
}

.cd-breadcrumb li>*,
.cd-multi-steps li>* {
    /* single step */
    display: inline-block;
    font-size: 0.875rem;
    color: #2c3f4c;
}

.cd-breadcrumb li.current>*,
.cd-multi-steps li.current>* {
    /* selected step */
    color: #96c03d;
}

.no-touch .cd-breadcrumb a:hover,
.no-touch .cd-multi-steps a:hover {
    /* steps already visited */
    color: #96c03d;
}

.cd-breadcrumb.custom-separator li::after,
.cd-multi-steps.custom-separator li::after {
    /* replace the default arrow separator with a custom icon */
    content: '';
    height: 16px;
    width: 16px;
    background: url(../img/cd-custom-separator.svg) no-repeat center center;
    vertical-align: middle;
}

.cd-breadcrumb.custom-icons li>*::before,
.cd-multi-steps.custom-icons li>*::before {
    /* add a custom icon before each item */
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: .4em;
    margin-top: -2px;
    background: url(../img/cd-custom-icons-01.svg) no-repeat 0 0;
    vertical-align: middle;
}

.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(2)>*::before,
.cd-multi-steps.custom-icons li:not(.current):nth-of-type(2)>*::before {
    /* change custom icon using image sprites */
    background-position: -20px 0;
}

.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(3)>*::before,
.cd-multi-steps.custom-icons li:not(.current):nth-of-type(3)>*::before {
    background-position: -40px 0;
}

.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(4)>*::before,
.cd-multi-steps.custom-icons li:not(.current):nth-of-type(4)>*::before {
    background-position: -60px 0;
}

.cd-breadcrumb.custom-icons li.current:first-of-type>*::before,
.cd-multi-steps.custom-icons li.current:first-of-type>*::before {
    /* change custom icon for the current item */
    background-position: 0 -20px;
}

.cd-breadcrumb.custom-icons li.current:nth-of-type(2)>*::before,
.cd-multi-steps.custom-icons li.current:nth-of-type(2)>*::before {
    background-position: -20px -20px;
}

.cd-breadcrumb.custom-icons li.current:nth-of-type(3)>*::before,
.cd-multi-steps.custom-icons li.current:nth-of-type(3)>*::before {
    background-position: -40px -20px;
}

.cd-breadcrumb.custom-icons li.current:nth-of-type(4)>*::before,
.cd-multi-steps.custom-icons li.current:nth-of-type(4)>*::before {
    background-position: -60px -20px;
}

@media only screen and (min-width: 768px) {
    .cd-breadcrumb,
    .cd-multi-steps {
        padding: 0 1.2em;
    }
    .cd-breadcrumb li,
    .cd-multi-steps li {
        margin: 1.2em 0;
    }
    .cd-breadcrumb li::after,
    .cd-multi-steps li::after {
        margin: 0 1em;
    }
    .cd-breadcrumb li>*,
    .cd-multi-steps li>* {
        font-size: 0.8rem;
    }
}


/* --------------------------------

Triangle breadcrumb

-------------------------------- */

@media only screen and (min-width: 768px) {
    .cd-breadcrumb.triangle {
        /* reset basic style */
        background-color: transparent;
        padding: 0;
    }
    .cd-breadcrumb.triangle li {
        position: relative;
        padding: 0;
        margin: 4px 4px 4px 0;
    }
    .cd-breadcrumb.triangle li:last-of-type {
        margin-right: 0;
    }
    .cd-breadcrumb.triangle li>* {
        position: relative;
        padding: 1em .8em 1em 2.5em;
        color: #2c3f4c;
        background-color: #edeff0;
        /* the border color is used to style its ::after pseudo-element */
        border-color: #edeff0;
    }
    .cd-breadcrumb.triangle li.current>* {
        /* selected step */
        color: #ffffff;
        background-color: #96c03d;
        border-color: #96c03d;
    }
    .cd-breadcrumb.triangle li:first-of-type>* {
        padding-left: 1.6em;
        border-radius: .25em 0 0 .25em;
    }
    .cd-breadcrumb.triangle li:last-of-type>* {
        padding-right: 1.6em;
        border-radius: 0 .25em .25em 0;
    }
    .no-touch .cd-breadcrumb.triangle a:hover {
        /* steps already visited */
        color: #ffffff;
        background-color: #2c3f4c;
        border-color: #2c3f4c;
    }
    .cd-breadcrumb.triangle li::after,
    .cd-breadcrumb.triangle li>*::after {
        /*
      li > *::after is the colored triangle after each item
      li::after is the white separator between two items
    */
        content: '';
        position: absolute;
        top: 0;
        left: 100%;
        content: '';
        height: 0;
        width: 0;
        /* 48px is the height of the <a> element */
        border: 24px solid transparent;
        border-right-width: 0;
        border-left-width: 20px;
    }
    .cd-breadcrumb.triangle li::after {
        /* this is the white separator between two items */
        z-index: 1;
        -webkit-transform: translateX(4px);
        -moz-transform: translateX(4px);
        -ms-transform: translateX(4px);
        -o-transform: translateX(4px);
        transform: translateX(4px);
        border-left-color: #ffffff;
        /* reset style */
        margin: 0;
    }
    .cd-breadcrumb.triangle li>*::after {
        /* this is the colored triangle after each element */
        z-index: 2;
        border-left-color: inherit;
    }
    .cd-breadcrumb.triangle li:last-of-type::after,
    .cd-breadcrumb.triangle li:last-of-type>*::after {
        /* hide the triangle after the last step */
        display: none;
    }
    .cd-breadcrumb.triangle.custom-separator li::after {
        /* reset style */
        background-image: none;
    }
    .cd-breadcrumb.triangle.custom-icons li::after,
    .cd-breadcrumb.triangle.custom-icons li>*::after {
        /* 50px is the height of the <a> element */
        border-top-width: 25px;
        border-bottom-width: 25px;
    }
    @-moz-document url-prefix() {
        .cd-breadcrumb.triangle li::after,
        .cd-breadcrumb.triangle li>*::after {
            /* fix a bug on Firefix - tooth edge on css triangle */
            border-left-style: dashed;
        }
    }
}


/* --------------------------------

Custom icons hover effects - breadcrumb and multi-steps

-------------------------------- */

@media only screen and (min-width: 768px) {
    .no-touch .cd-breadcrumb.triangle.custom-icons li:first-of-type a:hover::before,
    .cd-breadcrumb.triangle.custom-icons li.current:first-of-type em::before,
    .no-touch .cd-multi-steps.text-center.custom-icons li:first-of-type a:hover::before,
    .cd-multi-steps.text-center.custom-icons li.current:first-of-type em::before {
        /* change custom icon using image sprites - hover effect or current item */
        background-position: 0 -40px;
    }
    .no-touch .cd-breadcrumb.triangle.custom-icons li:nth-of-type(2) a:hover::before,
    .cd-breadcrumb.triangle.custom-icons li.current:nth-of-type(2) em::before,
    .no-touch .cd-multi-steps.text-center.custom-icons li:nth-of-type(2) a:hover::before,
    .cd-multi-steps.text-center.custom-icons li.current:nth-of-type(2) em::before {
        background-position: -20px -40px;
    }
    .no-touch .cd-breadcrumb.triangle.custom-icons li:nth-of-type(3) a:hover::before,
    .cd-breadcrumb.triangle.custom-icons li.current:nth-of-type(3) em::before,
    .no-touch .cd-multi-steps.text-center.custom-icons li:nth-of-type(3) a:hover::before,
    .cd-multi-steps.text-center.custom-icons li.current:nth-of-type(3) em::before {
        background-position: -40px -40px;
    }
    .no-touch .cd-breadcrumb.triangle.custom-icons li:nth-of-type(4) a:hover::before,
    .cd-breadcrumb.triangle.custom-icons li.current:nth-of-type(4) em::before,
    .no-touch .cd-multi-steps.text-center.custom-icons li:nth-of-type(4) a:hover::before,
    .cd-multi-steps.text-center.custom-icons li.current:nth-of-type(4) em::before {
        background-position: -60px -40px;
    }
}


/* --------------------------------

Multi steps indicator

-------------------------------- */

@media only screen and (min-width: 768px) {
    .cd-multi-steps {
        /* reset style */
        background-color: transparent;
        padding: 0;
        text-align: center;
    }
    .cd-multi-steps li {
        position: relative;
        float: none;
        margin: 0.4em 40px 0.4em 0;
    }
    .cd-multi-steps li:last-of-type {
        margin-right: 0;
    }
    .cd-multi-steps li::after {
        /* this is the line connecting 2 adjacent items */
        position: absolute;
        content: '';
        height: 4px;
        background: #edeff0;
        /* reset style */
        margin: 0;
    }
    .cd-multi-steps li.visited::after {
        background-color: #96c03d;
    }
    .cd-multi-steps li>*,
    .cd-multi-steps li.current>* {
        position: relative;
        color: #2c3f4c;
    }
    .cd-multi-steps.custom-separator li::after {
        /* reset style */
        height: 4px;
        background: #edeff0;
    }
    .cd-multi-steps.text-center li::after {
        width: 100%;
        top: 50%;
        left: 100%;
        -webkit-transform: translateY(-50%) translateX(-1px);
        -moz-transform: translateY(-50%) translateX(-1px);
        -ms-transform: translateY(-50%) translateX(-1px);
        -o-transform: translateY(-50%) translateX(-1px);
        transform: translateY(-50%) translateX(-1px);
    }
    .cd-multi-steps.text-center li>* {
        z-index: 1;
        padding: .6em 1em;
        border-radius: .25em;
        background-color: #edeff0;
    }
    .no-touch .cd-multi-steps.text-center a:hover {
        background-color: #2c3f4c;
    }
    .cd-multi-steps.text-center li.current>*,
    .cd-multi-steps.text-center li.visited>* {
        color: #ffffff;
        background-color: #96c03d;
    }
    .cd-multi-steps.text-center.custom-icons li.visited a::before {
        /* change the custom icon for the visited item - check icon */
        background-position: 0 -60px;
    }
    .cd-multi-steps.text-top li,
    .cd-multi-steps.text-bottom li {
        width: 80px;
        text-align: center;
    }
    .cd-multi-steps.text-top li::after,
    .cd-multi-steps.text-bottom li::after {
        /* this is the line connecting 2 adjacent items */
        position: absolute;
        left: 50%;
        /* 40px is the <li> right margin value */
        width: calc(100% + 40px);
    }
    .cd-multi-steps.text-top li>*::before,
    .cd-multi-steps.text-bottom li>*::before {
        /* this is the spot indicator */
        content: '';
        position: absolute;
        z-index: 1;
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background-color: #edeff0;
    }
    .cd-multi-steps.text-top li.visited>*::before,
    .cd-multi-steps.text-top li.current>*::before,
    .cd-multi-steps.text-bottom li.visited>*::before,
    .cd-multi-steps.text-bottom li.current>*::before {
        background-color: #96c03d;
    }
    .no-touch .cd-multi-steps.text-top a:hover,
    .no-touch .cd-multi-steps.text-bottom a:hover {
        color: #96c03d;
    }
    .no-touch .cd-multi-steps.text-top a:hover::before,
    .no-touch .cd-multi-steps.text-bottom a:hover::before {
        box-shadow: 0 0 0 3px rgba(150, 192, 61, 0.3);
    }
    .cd-multi-steps.text-top li::after {
        /* this is the line connecting 2 adjacent items */
        bottom: 4px;
    }
    .cd-multi-steps.text-top li>* {
        padding-bottom: 20px;
    }
    .cd-multi-steps.text-top li>*::before {
        /* this is the spot indicator */
        bottom: 0;
    }
    .cd-multi-steps.text-bottom li::after {
        /* this is the line connecting 2 adjacent items */
        top: 3px;
    }
    .cd-multi-steps.text-bottom li>* {
        padding-top: 20px;
    }
    .cd-multi-steps.text-bottom li>*::before {
        /* this is the spot indicator */
        top: 0;
    }
}


/* --------------------------------

Add a counter to the multi-steps indicator

-------------------------------- */

.cd-multi-steps.count li {
    counter-increment: steps;
}

.cd-multi-steps.count li>*::before {
    content: counter(steps) " - ";
}

@media only screen and (min-width: 768px) {
    .cd-multi-steps.text-top.count li>*::before,
    .cd-multi-steps.text-bottom.count li>*::before {
        /* this is the spot indicator */
        content: counter(steps);
        height: 26px;
        width: 26px;
        line-height: 26px;
        font-size: 1.4rem;
        color: #ffffff;
    }
    .cd-multi-steps.text-top.count li:not(.current) em::before,
    .cd-multi-steps.text-bottom.count li:not(.current) em::before {
        /* steps not visited yet - counter color */
        color: #2c3f4c;
    }
    .cd-multi-steps.text-top.count li::after {
        bottom: 11px;
    }
    .cd-multi-steps.text-top.count li>* {
        padding-bottom: 34px;
    }
    .cd-multi-steps.text-bottom.count li::after {
        top: 11px;
    }
    .cd-multi-steps.text-bottom.count li>* {
        padding-top: 34px;
    }
}


/*! -- Pillar Cards -- */

.card {
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
}

.card .card__image img {
    margin: 0;
}

.card .card__title h1,
.card .card__title h2,
.card .card__title h3,
.card .card__title h4,
.card .card__title h5,
.card .card__title h6 {
    margin: 0;
}

.card .card__body {
    margin-bottom: 0;
}

.card .card__lower span {
    margin-bottom: 0;
}

.card .card__lower span:not(.h6) {
    font-size: 0.625em;
    font-style: italic;
    display: inline-block;
    color: #767676;
}

.slider[data-items] .card {
    margin: 0 15px;
    margin-bottom: 3.25em;
}

@media all and (max-width: 990px) {
    .card .card__body {
        margin-bottom: 30px;
    }
}

@media all and (max-width: 767px) {
    .card .card__body {
        margin-bottom: 15px;
    }
}

.card--horizontal {
    overflow: hidden;
    position: relative;
}

.card--horizontal .card__image {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0;
}

.card--horizontal .card__body {
    float: right;
}

@media all and (max-width: 767px) {
    .card--horizontal .card__image {
        position: relative;
    }
    .card--horizontal .card__image .background-image-holder {
        position: relative;
        background: none;
    }
    .card--horizontal .card__image .background-image-holder img {
        display: block;
    }
}

a .card {
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
}

a .card p,
a .card span {
    color: #767676;
}

a .card:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}

a .card.card-6:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}

a:active .card {
    transform: scale(0.99);
    -webkit-transform: scale(0.99);
}

.card-1 .card__icon {
    background: #f4f4f4;
    padding: 4.875em 0;
    text-align: center;
}

.card-1 .card__title+p {
    margin-top: 1.625em;
}

@media all and (max-width: 767px) {
    .card-1 .card__icon {
        padding: 3.25em 0;
    }
}

.card-1,
.card-2 {
    margin-bottom: 30px;
}

.card-1 .card__title,
.card-2 .card__title {
    margin-bottom: 0.8125em;
}

.card-1 span:not(:last-child),
.card-2 span:not(:last-child) {
    margin-bottom: 1.625em;
    display: inline-block;
}

.card-1 .card__body p,
.card-2 .card__body p {
    min-height: 8.125em;
}

@media all and (max-width: 767px) {
    .card-1 .card__body p,
    .card-2 .card__body p {
        min-height: 0;
    }
}

.card-3 {
    margin-bottom: 30px;
}

.card-3 .card__body .card__title {
    margin-bottom: 0;
}

.card-4 {
    margin-bottom: 30px;
}

.card-4 .card__body h6:first-child {
    margin-bottom: 1.3em;
    color: #767676;
}

.card-4 .card__body h5 {
    font-weight: 400;
}

.card-4 .card__body .card__title {
    height: 4.875em;
    margin-bottom: 1.625em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-4 hr {
    margin-top: 0;
    margin-bottom: 1.625em;
}

.card-5 {
    margin-bottom: 1.625em;
}

.card-5 .card__body {
    padding-bottom: 16.25em;
}

.card-5 .card__body .card__title {
    margin-bottom: 0.40625em;
}

.card-5 .card__body .card__title+span {
    margin-bottom: 1.625em;
    display: inline-block;
}

.card-5 .card__body .card__title+p {
    margin-top: 1.625em;
}

.masonry .card-5 {
    margin-bottom: 0;
}

@media all and (max-width: 990px) {
    .card-5 .card__body {
        padding-bottom: 13em;
    }
}

@media all and (max-width: 767px) {
    .card-5 .card__body {
        padding-bottom: 0.8125em;
    }
}

.card-6 {
    margin-bottom: 1.625em;
}

.card-6 .card__body .card__title {
    margin-bottom: 1.625em;
}

.card-6 .card__body p:last-of-type {
    margin-bottom: 6.5em;
}

@media all and (max-width: 767px) {
    .card-6 .card__body p:last-of-type {
        margin-bottom: 3.25em;
    }
}

.card-7 {
    margin-bottom: 30px;
}

.card-7 .card__body {
    position: relative;
}

.card-7 .card__body .card__title h6,
.card-7 .card__body .card__title h5 {
    margin-bottom: 0;
    max-height: 1.625em;
}

.card-7 .card__body .card__title h6 {
    opacity: .3;
    margin-bottom: 0.65em;
}

.card-7 .card__body .card__price {
    position: absolute;
    top: 2.4375em;
    right: 2.4375em;
}

.card-7 .card__body .card__price span {
    display: block;
}

.card-7 .card__body .card__price span.type--strikethrough {
    opacity: .5;
}

@media all and (max-width: 1200px) {
    .card-7 .card__price {
        margin-bottom: 0.8125em;
    }
}

.card-8 {
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.card-8 .boxed {
    padding: 1.05em 1.875em;
}

.card-8 .card__title h6 {
    opacity: .5;
}

.card-8 .card__title h3 {
    max-width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-8 .card__body {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
}

.card-8 .card__image {
    padding: 0;
    overflow: hidden;
    background: #eee;
}

.card-8 .card__image img {
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
}

.card-8 .card__image:hover img {
    transform: scale(0.98);
    -webkit-transform: scale(0.98);
}

.card-8 hr {
    margin-bottom: 0.75em;
    margin-top: 0.75em;
}

.card-8 p[class*='col-'] {
    padding: 0;
    float: none;
    margin-bottom: 4.875em;
}

.card-8 .card__price {
    position: absolute;
    top: 3.25em;
    right: 4.875em;
}

.card-8 .card__price span {
    font-size: 1.4375em;
}

.card-8 .card__price span.type--strikethrough {
    margin-right: 1.1304347826087em;
}

@media all and (max-width: 1200px) {
    .card-8 .card__body {
        position: relative;
        height: auto;
    }
    .card-8 hr {
        margin-bottom: 1.625em;
    }
    .card-8 p[class*='col-'] {
        margin-bottom: 3.25em;
    }
}

@media all and (max-width: 1024px) {
    .card-8 .boxed {
        padding: 3.25em 2.25em;
    }
    .card-8 .card__price {
        position: relative;
        right: 0;
        top: 0;
        margin-top: 0.8125em;
    }
}

@media all and (max-width: 767px) {
    .card-8 {
        margin-bottom: 0;
    }
    .card-8 .card__title {
        margin-top: 0;
    }
    .card-8 .card__body {
        position: relative;
        height: auto;
    }
    .card-8 .card__price {
        margin-bottom: 1.625em;
    }
}


/***! Pillar Boxes **/

.boxed {
    position: relative;
    overflow: hidden;
    padding: 2.4375em;
    margin-bottom: 30px;
}

.boxed.boxed--lg {
    padding: 3.65625em;
}

.boxed.boxed--sm {
    padding: 1.625em;
}

.boxed.boxed--border {
    border: 1px solid #c9c9c9;
}

.boxed div[class*='col-']:first-child:not(.boxed) {
    padding-left: 0;
}

.boxed div[class*='col-']:last-child:not(.boxed) {
    padding-right: 0;
}

img+.boxed {
    margin-top: -1.625em;
}

@media all and (max-width: 767px) {
    .boxed {
        padding: 1.625em;
        margin-bottom: 15px;
    }
    .boxed.boxed--lg {
        padding: 1.625em;
    }
    .boxed div[class*='col-']:not(.boxed) {
        padding: 0;
    }
    .boxed:last-child {
        margin-bottom: 15px;
    }
    .row:last-child div[class*='col-']:last-child .boxed:last-child {
        margin-bottom: 0;
    }
}